$-base-path: '../src/assets/fonts';
$-font-family: 'HSE Sans', sans-serif;
$-font-family-alt: 'Proxima Nova', sans-serif;
$-font-size: 16px;
@mixin fonts-configure($theme) {
  $base-path: map_get($theme, base-path);
  $font-family: map_get($theme, font-family);
  $font-family-alt: map_get($theme, font-family-alt);

  @if ($base-path) {
    $-base-path: $base-path !global;
  }
  @if ($font-family) {
    $-font-family: $font-family !global;
  }
  @if ($font-family-alt) {
    $-font-family-alt: $font-family-alt !global;
  }
}
@mixin add-fonts {
  @debug '#{$-base-path}';
  @font-face {
    font-family: 'Proxima Nova';
    src: url('#{$-base-path}/proxima-nova/ProximaNova-Semibold.eot');
    src: url('#{$-base-path}/proxima-nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Semibold.woff') format('woff'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('#{$-base-path}/proxima-nova/ProximaNova-Regular.eot');
    src: url('#{$-base-path}/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Regular.woff') format('woff'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('#{$-base-path}/proxima-nova/ProximaNova-Bold.eot');
    src: url('#{$-base-path}/proxima-nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Bold.woff2') format('woff2'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Bold.woff') format('woff'),
      url('#{$-base-path}/proxima-nova/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'HSE Sans';
    src: url('#{$-base-path}/hse-sans/HSESans-Thin.eot');
    src: url('#{$-base-path}/hse-sans/HSESans-Thin.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/hse-sans/HSESans-Thin.woff2') format('woff2'),
      url('#{$-base-path}/hse-sans/HSESans-Thin.woff') format('woff'),
      url('#{$-base-path}/hse-sans/HSESans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: 'HSE Sans';
    src: url('#{$-base-path}/hse-sans/HSESans-Regular.eot');
    src: url('#{$-base-path}/hse-sans/HSESans-Regular.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/hse-sans/HSESans-Regular.woff2') format('woff2'),
      url('#{$-base-path}/hse-sans/HSESans-Regular.woff') format('woff'),
      url('#{$-base-path}/hse-sans/HSESans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'HSE Sans';
    src: url('#{$-base-path}/hse-sans/HSESans-SemiBold.eot');
    src: url('#{$-base-path}/hse-sans/HSESans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/hse-sans/HSESans-SemiBold.woff2') format('woff2'),
      url('#{$-base-path}/hse-sans/HSESans-SemiBold.woff') format('woff'),
      url('#{$-base-path}/hse-sans/HSESans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'HSE Sans';
    src: url('#{$-base-path}/hse-sans/HSESans-Black.eot');
    src: url('#{$-base-path}/hse-sans/HSESans-Black.eot?#iefix') format('embedded-opentype'),
      url('#{$-base-path}/hse-sans/HSESans-Black.woff2') format('woff2'),
      url('#{$-base-path}/hse-sans/HSESans-Black.woff') format('woff'),
      url('#{$-base-path}/hse-sans/HSESans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
}
