@function hse-color($name: base, $variant: black) {
  $color: null;
  $color-spectrum: map_get($hse-colors, $name);

  @if $color-spectrum {
    $color: map_get($color-spectrum, $variant);
  }

  @return $color;
}
