$breakpoints: (
  small: (
    max-width: 375px,
  ),
  handset: (
    max-width: 767px,
  ),
  tablet: (
    min-width: 768px,
    max-width: 1333px,
  ),
  web: (
    min-width: 1334px,
    max-width: 1920px,
  ),
  web-large: (
    min-width: 1921px,
  ),
) !default;
@mixin screen($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-borders: map_get($breakpoints, $breakpoint);
    $breakpoint-borders-has-min-width: map-has-key($breakpoint-borders, min-width);
    $breakpoint-borders-has-max-width: map-has-key($breakpoint-borders, max-width);

    @if $breakpoint-borders-has-min-width {
      $min-width: map_get($breakpoint-borders, min-width);

      @if $breakpoint-borders-has-max-width {
        @media (min-width: $min-width) and (max-width: map_get($breakpoint-borders, max-width)) {
          @content;
        }
      } @else {
        @media (min-width: $min-width) {
          @content;
        }
      }
    } @else {
      @if $breakpoint-borders-has-max-width {
        @media (max-width: map_get($breakpoint-borders, max-width)) {
          @content;
        }
      }
    }
  } @else {
    @warn "Unfortunately, `#{$breakpoint}` can not be found. Available: #{map-keys($breakpoints)}";
  }
}
@mixin small {
  @include screen(small) {
    @content;
  }
}
@mixin handset {
  @include screen(handset) {
    @content;
  }
}
@mixin tablet {
  @include screen(tablet) {
    @content;
  }
}
@mixin web {
  @include screen(web) {
    @content;
  }
}
@mixin web-large {
  @include screen(web-large) {
    @content;
  }
}


@mixin screen_property($property, $padding-map) {
  @each $breakpoint, $value in $breakpoints {
    @include screen($breakpoint) {
      #{$property}: map-get($padding-map, $breakpoint)
    }
  }
}
