$hse-colors: (
  base: (
    black: #0f0f14,
    white: #fff,
  ),
  brand: (
    dark: #002d6e,
    twilight: #0044b0,
    brand-1: #0050cf,
    brand-2: #3a74d0,
    brand-3: #8eb2ec,
    brand-4: #c2daff,
    brand-5: #f0f5ff,
  ),
  background: (
    brand: #0060cf,
    white: #fff,
    gray-1: #edeff3,
    gray-2: #f8f9fb,
  ),
  element-overlay: (
    dark: #252541,
    light: #fff,
  ),
  screen-overlay: (
    dark: #0f0f1466,
    light: #fff6,
  ),
  system: (
    success: #28c75d,
    success-dark: #228b45,
    success-deepdark: #096237,
    success-light: #e9f9ef,
    error: #ff564e,
    error-dark: #d82e2e,
    error-deepdark: #b9212e,
    error-light: #ffeeed,
    warning: #f8b73f,
    warning-dark: #e9a21d,
    warning-deepdark: #8f5714,
    warning-light: #fef8ec,
  ),
  gray: (
    dusk-1: #6b7a99,
    dusk-2: #7c89a3,
    dusk-3: #a2a9b8,
    dusk-4: #c0c6d1,
    dusk-5: #f0f2f5,
    morn-1: #d3d8e6,
    morn-2: #e1e4eb,
    morn-3: #edeff3,
    morn-4: #f5f6fa,
  ),
  accent: (
    dodger-deepdark: #0065b0,
    dodger-dark: #008ef6,
    dodger-1: #27a3ff,
    dodger-2: #6cb4f5,
    dodger-3: #90c3f0,
    dodger-4: #c3ddf4,
    dodger-5: #ebf3fa,
    slateblue-deepdark: #581add,
    slateblue-dark: #6650ec,
    slateblue-1: #6e73f7,
    slateblue-2: #9497ff,
    slateblue-3: #b2b6ff,
    slateblue-4: #ccceff,
    slateblue-5: #f0f0fa,
    purple-deepdark: #3b0b80,
    purple-dark: #6929c4,
    purple-1: #935ce5,
    purple-2: #a37ff5,
    purple-3: #c2a9f9,
    purple-4: #d8c9fb,
    purple-5: #f3f0fa,
    red-deepdark: #a42f15,
    red-dark: #e03a15,
    red-1: #f0522b,
    red-2: #ff6c47,
    red-3: #ff8d70,
    red-4: #ffbead,
    red-5: #ffeeea,
    orange-deepdark: #964002,
    orange-dark: #eb6d00,
    orange-1: #fa8500,
    orange-2: #ff941a,
    orange-3: #ffb366,
    orange-4: #fc9,
    orange-5: #fff3e6,
    green-deepdark: #0e603d,
    green-dark: #00a35f,
    green-1: #00b86e,
    green-2: #49b88b,
    green-3: #86d1b3,
    green-4: #afe1cd,
    green-5: #ebf5f1,
  ),
);
