::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: hse-color(gray, dusk-3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparentize(hse-color(gray, dusk-3), 0.5);
  cursor: pointer;
}
