$-tabs-default-props: (
  size: (
    sm: 2rem,
    md: 2.5rem,
    lg: 3rem,
  ),
  variants: (
    line: (
      active: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(brand, brand-1),
        border-base-hover: hse-color(brand, dark),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(brand, brand-1),
        color-hover: hse-color(brand, dark),
      ),
      default: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(brand, brand-1),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(gray, dusk-1),
        color-hover: hse-color(gray, dusk-1),
      ),
      disabled: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(gray, morn-1),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(gray, morn-1),
        color-hover: hse-color(gray, morn-1),
      ),
      error: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(system, error),
        border-base-hover: hse-color(system, error-dark),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(system, error),
        color-hover: hse-color(system, error-dark),
      ),
    ),
    line-filled: (
      active: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(brand, brand-1),
        border-base-hover: hse-color(brand, dark),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(brand, brand-1),
        color-hover: hse-color(brand, dark),
      ),
      default: (
        bg: hse-color(gray, morn-4),
        bg-hover: hse-color(gray, morn-4),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(brand, brand-1),
        border-alt: hse-color(gray, morn-4),
        border-alt-hover: hse-color(brand, brand-1),
        color: hse-color(gray, dusk-1),
        color-hover: hse-color(gray, dusk-1),
      ),
      disabled: (
        bg: hse-color(gray, morn-4),
        bg-hover: hse-color(gray, morn-4),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(gray, morn-1),
        border-alt: hse-color(gray, morn-4),
        border-alt-hover: hse-color(gray, morn-4),
        color: hse-color(gray, morn-1),
        color-hover: hse-color(gray, morn-1),
      ),
      error: (
        bg: hse-color(gray, morn-4),
        bg-hover: hse-color(gray, morn-4),
        border-base: hse-color(system, error),
        border-base-hover: hse-color(system, error-dark),
        border-alt: hse-color(system, error),
        border-alt-hover: hse-color(system, error-dark),
        color: hse-color(system, error),
        color-hover: hse-color(system, error-dark),
      ),
    ),
    line-outlined: (
      active: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(brand, brand-1),
        border-base-hover: hse-color(brand, dark),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(brand, brand-1),
        color-hover: hse-color(brand, dark),
      ),
      default: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, dusk-3),
        border-base-hover: hse-color(brand, brand-1),
        border-alt: hse-color(gray, dusk-3),
        border-alt-hover: hse-color(brand, brand-1),
        color: hse-color(gray, dusk-1),
        color-hover: hse-color(gray, dusk-1),
      ),
      disabled: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(gray, morn-1),
        border-alt: hse-color(gray, morn-1),
        border-alt-hover: hse-color(gray, morn-1),
        color: hse-color(gray, morn-1),
        color-hover: hse-color(gray, morn-1),
      ),
      error: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(system, error),
        border-base-hover: hse-color(system, error-dark),
        border-alt: hse-color(system, error),
        border-alt-hover: hse-color(system, error-dark),
        color: hse-color(system, error),
        color-hover: hse-color(system, error-dark),
      ),
    ),
    square: (
      active: (
        bg: hse-color(brand, brand-5),
        bg-hover: hse-color(brand, brand-5),
        border-base: hse-color(brand, brand-1),
        border-base-hover: hse-color(brand, dark),
        border-alt: hse-color(brand, brand-1),
        border-alt-hover: hse-color(brand, dark),
        color: hse-color(brand, brand-1),
        color-hover: hse-color(brand, dark),
      ),
      default: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(brand, brand-1),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(gray, dusk-1),
        color-hover: hse-color(gray, dusk-1),
      ),
      disabled: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(gray, morn-1),
        border-alt: hse-color(gray, morn-1),
        border-alt-hover: hse-color(gray, morn-1),
        color: hse-color(gray, morn-1),
        color-hover: hse-color(gray, morn-1),
      ),
      error: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(system, error),
        border-base-hover: hse-color(system, error-dark),
        border-alt: hse-color(system, error),
        border-alt-hover: hse-color(system, error-dark),
        color: hse-color(system, error),
        color-hover: hse-color(system, error-dark),
      ),
    ),
    round: (
      active: (
        bg: hse-color(brand, brand-5),
        bg-hover: hse-color(brand, brand-5),
        border-base: hse-color(brand, brand-1),
        border-base-hover: hse-color(brand, dark),
        border-alt: hse-color(brand, brand-1),
        border-alt-hover: hse-color(brand, dark),
        color: hse-color(brand, brand-1),
        color-hover: hse-color(brand, dark),
      ),
      default: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(brand, brand-1),
        border-alt: hse-color(base, white),
        border-alt-hover: hse-color(base, white),
        color: hse-color(gray, dusk-1),
        color-hover: hse-color(gray, dusk-1),
      ),
      disabled: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(gray, morn-1),
        border-base-hover: hse-color(gray, morn-1),
        border-alt: hse-color(gray, morn-1),
        border-alt-hover: hse-color(gray, morn-1),
        color: hse-color(gray, morn-1),
        color-hover: hse-color(gray, morn-1),
      ),
      error: (
        bg: hse-color(base, white),
        bg-hover: hse-color(base, white),
        border-base: hse-color(system, error),
        border-base-hover: hse-color(system, error-dark),
        border-alt: hse-color(system, error),
        border-alt-hover: hse-color(system, error-dark),
        color: hse-color(system, error),
        color-hover: hse-color(system, error-dark),
      ),
    ),
  ),
);
