@mixin tabs-style {
  .hse-tabs {
    display: flex;
    flex-wrap: wrap;
  }

  .hse-tab-item {
    display: flex;
    align-items: center;
    border: none;
    padding: 0.75rem;
    outline: none;
    transition: border 0.3s ease;

    &__counter {
      display: inline-block;
      margin: 0 0 0 8px;
      max-width: 32px;
      height: 1.25rem;
      padding: 0.125rem 0.25rem;
      line-height: 1rem;
      border-radius: 16px;
      color: hse-color(base, white);
      font-size: 0.75rem;
    }

    &__label {
      font-family: $-font-family;
    }
  }

  @include hse-tabs-variants($-tabs-variants);
  @include hse-tabs-variants-style($-tabs-variants);
  @include hse-tabs-sizes($-tabs-sizes);
}
@mixin hse-tabs-variants($variants) {
  @each $name, $states in $variants {
    .hse-tabs_#{$name} .hse-tab-item {
      @if ($name == 'line') {
        border-bottom: 2px solid;
      } @else if ($name == 'line-filled') {
        border: 1px solid;
        border-bottom-width: 2px;
      } @else if ($name == 'line-outlined') {
        border: 1px solid;
        border-bottom-width: 2px;
      } @else if ($name == 'round') {
        border: 1px solid;
        border-radius: 22px;
      } @else {
        border: 1px solid;
        border-radius: 4px;
      }

      &:not(:disabled) {
        cursor: pointer;
      }

      &:disabled {
        cursor: default;
      }
    }
  }
}
@mixin hse-tabs-variants-style($variants) {
  @each $name, $states in $variants {
    $active: map_get($states, active);
    $default: map_get($states, default);
    $disabled: map_get($states, disabled);
    $error: map_get($states, error);

    .hse-tabs_#{$name} .hse-tab-item {
      &:not(:disabled) {
        @if ($name == 'line') {
          border-color: map_get($default, border-base);
        } @else if ($name == 'line-filled') {
          border-color: map_get($default, border-base);
        } @else if ($name == 'line-outlined') {
          border-color: map_get($default, border-alt);
          border-bottom-color: map_get($default, border-base);
        } @else if ($name == 'round') {
          border-color: map_get($default, border-base);

          &:not(:first-of-type) {
            margin: 0 0 0 0.5rem;
          }
        } @else {
          border-color: map_get($default, border-base);

          &:not(:first-of-type) {
            margin: 0 0 0 0.5rem;
          }
        }

        background-color: map_get($default, bg);
        color: map_get($default, color);

        & .hse-tab-item__counter {
          background-color: map_get($default, color);
        }

        &:hover {
          background-color: map_get($default, bg-hover);
          color: map_get($default, color-hover);

          @if ($name == 'line') {
            border-color: map_get($default, border-base-hover);
          } @else if ($name == 'line-filled') {
            border-bottom-color: map_get($default, border-base-hover);
          } @else if ($name == 'line-outlined') {
            border-bottom-color: map_get($default, border-base-hover);
          } @else if ($name == 'round') {
            border-color: map_get($default, border-base-hover);
          } @else {
            border-color: map_get($default, border-base-hover);
          }
        }

        &.hse-tab-item_active {
          @if ($name == 'line') {
            border-color: map_get($active, border-base);
          } @else if ($name == 'line-filled') {
            border-color: map_get($active, border-base);
            border-top-color: map_get($active, border-alt);
          } @else if ($name == 'line-outlined') {
            border-color: map_get($active, border-base);
            border-top-color: map_get($active, border-alt);
          } @else if ($name == 'round') {
            border-color: map_get($active, border-base);
          } @else {
            border-color: map_get($active, border-base);
          }

          background-color: map_get($active, bg);
          color: map_get($active, color);

          & .hse-tab-item__counter {
            background-color: map_get($active, color);
          }

          &:hover {
            @if ($name == 'line') {
              border-color: map_get($active, border-base-hover);
            } @else if ($name == 'line-filled') {
              border-color: map_get($active, border-base-hover);
              border-top-color: map_get($active, border-alt-hover);
            } @else if ($name == 'line-outlined') {
              border-color: map_get($active, border-base-hover);
              border-top-color: map_get($active, border-alt-hover);
            } @else if ($name == 'round') {
              border-color: map_get($active, border-base-hover);
            } @else {
              border-color: map_get($active, border-base-hover);
            }

            background-color: map_get($active, bg-hover);
            color: map_get($active, color-hover);

            & .hse-tab-item__counter {
              background-color: map_get($active, color-hover);
            }
          }
        }

        &.hse-tab-item_invalid {
          @if ($name == 'line') {
            border-color: map_get($error, border-base);
          } @else if ($name == 'line-filled') {
            border-color: map_get($error, border-base);
          } @else if ($name == 'line-outlined') {
            border-color: map_get($error, border-alt);
            border-bottom-color: map_get($error, border-base);
          } @else if ($name == 'round') {
            border-color: map_get($error, border-base);
          } @else {
            border-color: map_get($error, border-base);
          }

          background-color: map_get($error, bg);
          color: map_get($error, color);

          & .hse-tab-item__counter {
            background-color: map_get($error, color);
          }

          &:hover {
            @if ($name == 'line') {
              border-color: map_get($error, border-base-hover);
            } @else if ($name == 'line-filled') {
              border-color: map_get($error, border-base-hover);
            } @else if ($name == 'line-outlined') {
              border-color: map_get($error, border-alt-hover);
              border-bottom-color: map_get($error, border-base-hover);
            } @else if ($name == 'round') {
              border-color: map_get($error, border-base-hover);
            } @else {
              border-color: map_get($error, border-base-hover);
            }

            background-color: map_get($error, bg-hover);
            color: map_get($error, color-hover);

            & .hse-tab-item__counter {
              background-color: map_get($error, color-hover);
            }
          }
        }
      }

      &:disabled {
        background-color: map_get($disabled, bg);
        border-bottom: 2px solid map_get($disabled, border-base);
        color: map_get($disabled, color);

        & .hse-tab-item__counter {
          background-color: map_get($disabled, color);
        }
      }
    }
  }
}
@mixin hse-tabs-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-tabs_#{$size} .hse-tab-item {
      height: $value;

      @if ($size == 'sm') {
        .hse-tab-item__label {
          font-size: 0.875rem;
        }

        .hse-tab-item__counter {
          font-size: 0.625rem;
          line-height: 1.125rem;
        }
      }
    }
  }
}
