$-tabs-variants: map_get($-tabs-default-props, variants);
$-tabs-sizes: map_get($-tabs-default-props, size);
@mixin tabs-theme($theme) {
  $tabs-variants: map_get($theme, states);
  $tabs-sizes: map_get($theme, size);

  @if ($tabs-variants) {
    $-tabs-variants: $tabs-variants !global;
  }

  @if ($tabs-sizes) {
    $-tabs-sizes: $tabs-sizes !global;
  }
}
