$-pagination-margin: map_get($-pagination-default-props, margin);
@mixin pagination-theme($theme) {
  $pagination-margin: map_get($theme, margin);

  @if ($pagination-margin) {
    $-pagination-margin: $pagination-margin !global;
  }
}
