<app-page-header pageTitle="Tags">
  <pre>@import {{ '{ HseTagsModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseTagsModule предоставляет доступ к следующим компонентам: <i>hse-tag</i>
      </span>
    </ng-template>
    <hse-tag>Tag #1</hse-tag>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние">
    <hse-tag [disabled]="true">Disabled tag</hse-tag>
  </app-component-preview>
  <app-component-preview heading="Варианты отрисовки" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>В библиотеке ngx-hse-ui предусмотрены варианты отрисовки компонентов.</span>
      <p>
        Для указания нужной необходимо использовать опцию <b><i>variant</i></b> (тип значения HseUiBaseVariants
        <sup>1</sup> ). HseUiBaseVariants имеет значения <b><i>PRIMARY</i></b> и <b><i>SECONDARY</i></b>.
        По умолчанию устанавливается значение <b><i>PRIMARY</i></b>.
      </p>
      <p>
        <sup>1</sup> - тип HseUiBaseVariants образован от типа HseUiVariants, из которого исключено значение
        HseUiVariants.TERTIARY
      </p>
    </ng-template>
    <div class="flex-gap">
      <ng-container *ngFor="let variant of variants; let idx = index">
        <hse-tag [variant]="variant">Tag #{{ idx + 1 }}</hse-tag>
      </ng-container>
    </div>
  </app-component-preview>
  <app-component-preview heading="Добавление иконок" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Чтобы добавить иконку в тег, необходимо передать ее название в опции <b><i>leftIcon</i></b> или
        <b><i>rightIcon</i></b>
      </span>
    </ng-template>
    <div class="flex-gap">
      <hse-tag leftIcon="add">First tag</hse-tag>
      <hse-tag rightIcon="add">Second tag</hse-tag>
      <hse-tag leftIcon="add" rightIcon="add">Third tag</hse-tag>
    </div>
  </app-component-preview>
  <app-component-preview heading="Кликабельный вариант" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>Тег может быть кликабельным: для этого необходимо передать опцию <b><i>clickable</i></b></span>
    </ng-template>
    <div class="flex-gap">
      <ng-container *ngFor="let variant of variants; let idx = index">
        <hse-tag [clickable]="true" [variant]="variant">Clickable tag {{ idx + 1 }}</hse-tag>
      </ng-container>
    </div>
  </app-component-preview>
</app-page-content>
