<app-page-header pageTitle="Select">
  <pre>@import {{ '{ HseSelectModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview
    heading="Select/multiple-select -компоненты"
    description="Обычное использование select-компонента"
  >
    <div class="grid-2">
      <hse-select
        [(model)]="selectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-multiple-select
        [(model)]="multipleSelectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние">
    <div class="grid-4">
      <hse-select
        [disabled]="true"
        [(model)]="selectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-multiple-select
        [disabled]="true"
        [(model)]="multipleSelectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
      <hse-select
        [disabled]="true"
        [(model)]="selectModel2"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-multiple-select
        [disabled]="true"
        [(model)]="multipleSelectModel2"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние option'ов">
    <div class="grid-2">
      <hse-select
        [(model)]="selectModel1"
        [options]="optionsWithDisabledState"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-multiple-select
        [(model)]="multipleSelectModel1"
        [options]="optionsWithDisabledState"
        [placeholder]="placeholder"
      ></hse-multiple-select>
    </div>
  </app-component-preview>
  <app-component-preview heading="Состояние ошибки" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>Добавить состояние ошибки можно с помощью опции <b><i>hasError</i></b> (тип значения boolean)</span>
    </ng-template>
    <div class="column">
      <hse-switch [(model)]="hasError">Components {{ hasError ? 'with' : 'without' }} error state</hse-switch>
      <hse-select
        [hasError]="hasError"
        [(model)]="selectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-multiple-select
        [hasError]="hasError"
        [(model)]="multipleSelectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
    </div>
  </app-component-preview>
  <app-component-preview
    heading="Поиск"
    description="Для активации режима поиска необходимо указать свойство searchable"
  >
    <div class="grid-2">
      <hse-select
        [(model)]="selectModel1"
        [options]="filteredOptions"
        [placeholder]="placeholder"
        [searchable]="true"
        (onSearchOptions)="onSearchOption($event)"
      ></hse-select>
      <hse-multiple-select
        [(model)]="multipleSelectModel1"
        [options]="filteredOptions"
        [placeholder]="placeholder"
        [searchable]="true"
        (onSearchOptions)="onSearchOption($event)"
      ></hse-multiple-select>
    </div>
  </app-component-preview>
  <app-component-preview
    heading="Ширина селектов"
    [description]="descriptionTmpl2"
  >
    <ng-template #descriptionTmpl2>
      <span>
        По умолчанию select-компоненты растягиваются на 100% родительского контейнера.
        Управлять шириной селекта можно, изменяя ширину родительского контейнера <sup>1</sup>.
      </span>
      <p>
        <sup>1</sup> - при установке <b><i>width: auto</i></b> для родительского контейнера селект будет
        растягиваться аналогично
      </p>
    </ng-template>
    <div class="grid-chaos">
      <hse-select
        [(model)]="selectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-select
        [(model)]="selectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-select
        [(model)]="selectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-multiple-select
        [(model)]="multipleSelectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
      <hse-multiple-select
        [(model)]="multipleSelectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
      <hse-multiple-select
        [(model)]="multipleSelectModel1"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
    </div>
  </app-component-preview>
  <app-component-preview
    heading="Размер селектов"
    [description]="descriptionTmpl3"
  >
    <ng-template #descriptionTmpl3>
      <span>
        Для указания размера необходимо использовать опцию <b><i>size</i></b> (тип значения HseUiSizes).
        HseUiSizes имеет значения <b><i>SMALL</i></b>, <b><i>MEDIUM</i></b>, <b><i>LARGE</i></b>.
        По умолчанию устанавливается значение <b><i>MEDIUM</i></b>.
      </span>
    </ng-template>
    <ng-container *ngFor="let size of selectSizeVariants">
      <div class="grid-3">
        <h5 class="hse-heading">{{ size.name | titlecase }}</h5>
        <ng-container *ngFor="let select of size.selects; let first = first">
          <ng-container *ngIf="first; else lastSelectTmpl">
            <hse-select
              [options]="options"
              [(model)]="select.model"
              [placeholder]="placeholder"
              [size]="size.name"
            ></hse-select>
          </ng-container>
          <ng-template #lastSelectTmpl>
            <hse-multiple-select
              [(model)]="select.model"
              [options]="options"
              [placeholder]="placeholder"
              [size]="size.name"
            ></hse-multiple-select>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </app-component-preview>
  <app-component-preview
    heading="Сброс выбранного значения"
    description="Для добавления возможности сброса выбранного значения необходимо указать опцию clearable"
  >
    <div class="grid-2">
      <hse-select
        [clearable]="true"
        [(model)]="selectModel2"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-select>
      <hse-multiple-select
        [clearable]="true"
        [(model)]="multipleSelectModel2"
        [options]="options"
        [placeholder]="placeholder"
      ></hse-multiple-select>
    </div>
  </app-component-preview>
  <app-component-preview heading="Использование в реактивных формах" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
       <span>
        Компоненты <i>hse-select</i>, <i>hse-multiple-select</i> можно использовать в реактивных формах
      </span>
    </ng-template>
    <div class="form-wrapper">
      <pre>{{ formGroup.value | json }}</pre>
      <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <hse-select
            formControlName="control1"
            [options]="options"
            [placeholder]="placeholder"
          ></hse-select>
        </div>
        <div class="form-field">
          <hse-multiple-select
            formControlName="control2"
            [options]="options"
            [placeholder]="placeholder"
          ></hse-multiple-select>
        </div>
        <div class="form-field">
          <hse-button [type]="type">Submit</hse-button>
        </div>
      </form>
    </div>
  </app-component-preview>
</app-page-content>
