@import 'functions';
@import 'palette';

.grid {
  &-2 {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: 100%;
    grid-gap: 10%;
  }

  &-3 {
    display: grid;
    grid-template-columns: 80px 250px 250px;
    grid-template-rows: 100%;
    grid-gap: 10%;
  }

  &-4 {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 60px);
    grid-gap: 10%;
  }

  &-chaos {
    display: grid;
    grid-template-columns: 180px minmax(30%, 65%) 320px;
    grid-template-rows: repeat(2, 60px);
    grid-gap: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &-wrapper {
    display: flex;
    flex-direction: column;

    .form-field {
      &:not(:first-of-type) {
        margin: 1rem 0 0;
      }
    }
  }

  &-output {
    margin: 1rem 0 0;
  }
}
