@mixin toast-style {
  .hse-toast {
    position: absolute;
    width: 100%;
    bottom: -100%;
    transition: bottom 0.7s ease-in-out;

    &.hse-toast_showing {
      bottom: 0;
    }

    &__content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      background-color: $-toast-bg;
      box-shadow: rgb(0 0 0 / 25%) 0 54px 55px, rgb(0 0 0 / 12%) 0 -12px 30px, rgb(0 0 0 / 12%) 0 4px 6px,
        rgb(0 0 0 / 17%) 0 12px 13px, rgb(0 0 0 / 9%) 0 -3px 5px;

      & > .hse-toast__icon-wrapper:first-child {
        margin: 0 1rem 0 0;
      }
    }

    &__content {
      display: flex;

      &.hse-toast__content_row {
        flex: 1;
        flex-direction: row;
        align-items: center;

        & .hse-toast__actions {
          margin: 0 0 0 1rem;
        }
      }

      &.hse-toast__content_column {
        flex-direction: column;
        flex: 1;
      }
    }

    &__icon {
      color: map_get($-toast-text, color-alt);
    }

    &__close-icon {
      color: $-toast-color;
      cursor: pointer;
    }

    &__title,
    &__description {
      color: map_get($-toast-text, color);
    }

    &__title {
      font-weight: 600;
    }

    &__description {
      margin: 0.5rem 0 0;
      font-size: 0.875rem;
      font-weight: 400;
    }

    &__actions {
      margin: 0.75rem 0 0;
    }

    &__action {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0;
      text-decoration: underline;
      color: map_get($-toast-text, color-alt);
      cursor: pointer;
      font-family: $-font-family;

      &:not(:first-of-type) {
        margin: 0 0 0 0.75rem;
      }
    }
  }

  @include tablet {
    .hse-toast__content-wrapper {
      padding: 1.25rem 3.25rem 1.75rem 6.25rem;
    }
  }

  @include web {
    .hse-toast__content-wrapper {
      padding: 1.25rem 3.25rem 1.75rem 10.25rem;
    }
  }

  @include web-large {
    .hse-toast__content-wrapper {
      padding: 1.25rem 3.25rem 1.75rem 10.25rem;
    }
  }
}
