$-toast-bg: map_get($-toast-default-props, bg);
$-toast-text: map_get($-toast-default-props, text);
$-toast-color: map_get($-toast-default-props, color);
@mixin toast-theme($theme) {
  $toast-bg: map_get($theme, bg);
  $toast-text: map_get($theme, text);
  $toast-color: map_get($theme, color);

  @if ($toast-bg) {
    $-toast-bg: $toast-bg !global;
  }

  @if ($toast-text) {
    $-toast-text: $toast-text !global;
  }

  @if ($toast-color) {
    $-toast-color: $toast-color !global;
  }
}
