@import 'fonts';
@import 'functions';
@import 'palette';

:root {
  --header-height: 3.5rem;
  --header-padding: 4px 16px;
  --sidebar-width: 15rem;
  --content-padding: 2rem;
  --component-card-height: 9rem;
  --component-card-width: 16rem;
  --footer-height: 3rem;
  --footer-padding: 1rem 1.5rem;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $-font-family;
  font-size: $-font-size;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  font-size: $-font-size;
}

sup {
  font-size: 0.75rem;
}

.root {
  position: relative;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-areas:
    'header header'
    'leftNav content'
    'leftNav footer';
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: var(--sidebar-width) 1fr;
  height: inherit;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  height: var(--header-height);
  padding: var(--header-padding);
  border-bottom: 1px solid hse-color(gray, morn-3);

  .logo {
    height: inherit;
    width: inherit;
    padding: 2px 0;
    cursor: pointer;
  }
}

.left-nav {
  grid-area: leftNav;
  border-right: 1px solid hse-color(gray, morn-3);
  overflow-y: auto;

  ul {
    list-style: none;
    padding: 0;
  }

  .components-menu {
    padding: 0 1rem 0 2rem;
  }

  &__component-item {
    padding: 1rem 0;
    transition: 0.3s ease-in-out;

    &:hover {
      color: hse-color(brand, brand-1);
    }
  }

  &__item {
    padding: 1rem 2rem;
    transition: 0.3s ease-in-out;

    &:hover {
      color: hse-color(brand, brand-1);
    }
  }

  &__link {
    color: hse-color(base, black);
    text-decoration: none;

    &_active {
      color: hse-color(brand, brand-1);
    }

    &:first-of-type {
      .left-nav__component-item {
        padding: 0 0 1rem 0;
      }
    }
  }
}

.content {
  padding: var(--content-padding);
  grid-area: content;
  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer;
  height: var(--footer-height);
  padding: var(--footer-padding);
}

pre {
  background-color: hse-color(brand, brand-5);
  border: 1px solid hse-color(gray, morn-1);
  border-radius: 4px;
  padding: 0.5rem;
}

.component-preview {
  display: flex;
  flex-direction: column;
  border: 1px solid hse-color(gray, morn-1);
  border-radius: 4px;
  padding: 1.5rem 1rem 1rem;

  &:not(:first-of-type) {
    margin: 1.5rem 0 0;
  }

  &__description {
    margin: 0 0 1rem;
    font-family: $-font-family-alt;
  }

  &__preview {
    padding: 1rem 0 0;
    border-top: 1px solid hse-color(gray, morn-1);
  }
}

.flex-gap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    margin: 1rem 0 0;
  }
}

.space-between {
  justify-content: space-between;
}

.hidden {
  overflow: hidden;
}
