<app-page-header pageTitle="Collapse">
  <pre>@import {{ '{ HseCollapseModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseCollapseModule предоставляет доступ к компоненту <i>hse-collapse</i>, который позволяет сохранять большие
        объемы контента на небольшом пространстве за счет скрытия текста.
      </span>
      <p>
        Свойство <i>panels</i> является <b>обязательным</b> для компонента <i>hse-collapse</i>. Оно имеет тип
        Array&lt;HseCollapsePanel&gt;
      </p>
      <p>
        Внутри компонента <i>hse-collapse</i> для каждой панели используется компонент <i>hse-collapse-panel</i>
      </p>
    </ng-template>
    <hse-collapse [panels]="panels1"></hse-collapse>
  </app-component-preview>
  <app-component-preview heading="Режим аккордеона" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>
        Чтобы активировать режим аккордеона - режим, в котором отображается лишь содержимое одной панели - необходимо
        добавить опцию <i>accordionMode</i> со значением <b>true</b>
      </span>
    </ng-template>
    <hse-collapse [accordionMode]="true" [panels]="panels1"></hse-collapse>
  </app-component-preview>
  <app-component-preview heading="Режим без рамок" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Опция <i>borderless</i> позволит скрыть рамки у каждого компонента <i>hse-collapse-panel</i>
      </span>
    </ng-template>
    <hse-collapse [borderless]="true" [panels]="panels1"></hse-collapse>
  </app-component-preview>
  <app-component-preview heading="Отступы в контентной части" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>
        В контентной части можно добавить отступы от левого края, используя опцию <i>hasLeftIndent</i> со значением
        <b>true</b>
      </span>
    </ng-template>
    <hse-collapse [hasLeftIndent]="true" [panels]="panels1"></hse-collapse>
  </app-component-preview>
  <app-component-preview heading="Отступы в контентной части" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>
        В контентной части можно добавить отступы от левого края, используя опцию <i>hasLeftIndent</i> со значением
        <b>true</b>
      </span>
    </ng-template>
    <hse-collapse [hasLeftIndent]="true" [panels]="panels1"></hse-collapse>
  </app-component-preview>
</app-page-content>
