<app-page-header pageTitle="Палитра"></app-page-header>
<app-page-content>
  <ng-container *ngFor="let paletteGroup of palette">
    <div class="palette-group">
      <h4 class="hse-heading">{{ paletteGroup.groupName }}</h4>
      <div class="palette-group-colors">
        <ng-container *ngFor="let color of paletteGroup.colors">
          <hse-badge-icon
            class="palette-color"
            [badgeBackground]="color.value"
            [label]="color.name"
            [size]="sizeLg"
          ></hse-badge-icon>
        </ng-container>
      </div>
    </div>
  </ng-container>
</app-page-content>
