@import 'functions';
@import 'palette';

.palette {
  &-group {
    margin: 0 0 2rem;

    &-colors {
      display: grid;
      grid-template-columns: repeat(7, 200px);
      grid-gap: 1rem;
    }
  }
}
