@use 'lib' as library;
@import './styles/theme';

$theme-config: (
  alert: (),
  button: (),
  checkbox: (),
  collapse: (),
  date-picker-global: (),
  file-input: (),
  fonts: (
    base-path: '../../../dist/kit/src/assets',
  ),
  heading: (),
  icon: (),
  input: (),
  loader: (),
  pagination: (),
  progress-bar: (),
  radio-group: (),
  select: (),
  tabs: (),
  tags: (),
  textarea: (),
  toast: (),
  table: (),
);
@include library.configure($theme: $theme-config);
@include library.style();
@include library.add-fonts();
