<!--FIXED CONTENT -->
<div *ngIf="fixedColumns.length" class="hse-table__fixed__wrapper">
  <div class="hse-table__fixed__wrapper__content">

    <!-- FIXED HEADER -->
    <div class="table-header grid"
         hseTableSticky
         [stickyEnable]="config?.stickyHeader !== undefined"
         [stickyTarget]="config?.stickyHeader?.scrollableParent"

         [style.grid-template-rows]="gridRowsHeader"
         [style.grid-template-columns]="gridTemplateFixedColumns">

      <hse-table-header [columns]="fixedColumns" [sticky]="config?.stickyHeader"></hse-table-header>
    </div>
    <!-- /FIXED HEADER -->

    <!-- FIXED BODY -->
    <div class="grid"
         [style.grid-template-rows]="gridRowsBody"
         [style.grid-template-columns]="gridTemplateFixedColumns">
      <hse-table-row [row]="row" [columns]="fixedColumns" *ngFor="let row of rowsData"></hse-table-row>
    </div>
    <!-- /FIXED BODY -->

  </div>
</div>
<!-- /FIXED CONTENT -->

<!--SHIFT BUTTONS-->
<div [hidden]="!isOverflow || !config.shiftButtons || shiftIndex === 0"
     class="table-header grid shift-button-wrapper left"
     hseTableSticky
     [stickyEnable]="config?.stickyHeader !== undefined"
     [stickyTarget]="config?.stickyHeader?.scrollableParent"
     [style.grid-template-rows]="gridRowsHeader">
  <button class="shift-button" (click)="shiftLeft()">
    <hse-icon name="chevronLeft"></hse-icon>
  </button>
</div>

<div [hidden]="!isOverflow || !shiftRightAvailable || !config.shiftButtons"
     class="table-header grid shift-button-wrapper"
     hseTableSticky
     [stickyEnable]="config?.stickyHeader !== undefined"
     [stickyTarget]="config?.stickyHeader?.scrollableParent"
     [style.grid-template-rows]="gridRowsHeader">
  <button class="shift-button" (click)="shiftRight()">
    <hse-icon name="chevronRight"></hse-icon>
  </button>
</div>
<!--SHIFT BUTTONS-->


<!-- MAIN CONTENT -->
<section class="hse-table" [class.shift-buttons]="config.shiftButtons" #table>
  <div class="table-header grid"
       hseTableSticky
       [stickyEnable]="config?.stickyHeader !== undefined"
       [stickyTarget]="config?.stickyHeader?.scrollableParent"

       [style.grid-template-rows]="gridRowsHeader"
       [style.grid-template-columns]="gridTemplateColumns">

    <hse-table-header [columns]="config.columns" [sticky]="config?.stickyHeader"></hse-table-header>

  </div>
  <div class="table-body grid"
       [style.grid-template-rows]="gridRowsBody"
       [style.grid-template-columns]="gridTemplateColumns">

    <hse-table-row [row]="row" [columns]="config.columns" *ngFor="let row of rowsData"></hse-table-row>
  </div>
</section>
<!-- /MAIN CONTENT -->
