<app-page-header pageTitle="Loader">
  <pre>@import {{ '{ HseLoaderModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Содержание модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseLoaderModule предоставляет доступ к компоненту <i>hse-loader</i>, и сервисам <i>HseLoaderService</i> и
        <i>HseLoaderInterceptorService</i>.
      </span>
      <p>
        Сервис HseLoaderService служит для управления состоянием компонента <i>hse-loader</i>.
      </p>
      <p>
        C помощью HseLoaderInterceptorService настраивать работу компонента <i>hse-loader</i> более гибко, а именно -
        добавлять url'ы и методы HTTP, при выполнении которых компонент hse-loader нужно скрывать
      </p>
    </ng-template>
    <hse-button (onClick)="showLoader()">Show loader</hse-button>
  </app-component-preview>
</app-page-content>
