<app-page-header pageTitle="Checkbox">
  <pre>@import {{ '{ HseCheckboxModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseCheckboxModule предоставляет доступ к следующим компонентам: <i>hse-checkbox</i>, <i>hse-switch</i>
      </span>
    </ng-template>
    <div class="flex-gap">
      <hse-checkbox [(model)]="model1">Checkbox</hse-checkbox>
      <hse-switch [(model)]="model2">Switch</hse-switch>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние">
    <div class="column">
      <div class="flex-gap">
        <hse-checkbox [(model)]="model1" [disabled]="true">Checkbox</hse-checkbox>
        <hse-switch [(model)]="model2" [disabled]="true">Switch</hse-switch>
      </div>
      <div class="flex-gap">
        <hse-checkbox [(model)]="model3" [disabled]="true">Checkbox</hse-checkbox>
        <hse-switch [(model)]="model4" [disabled]="true">Switch</hse-switch>
      </div>
    </div>
  </app-component-preview>
  <app-component-preview heading="Состояние ошибки" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>Добавить состояние ошибки можно с помощью опции <b><i>hasError</i></b> (тип значения boolean)</span>
    </ng-template>
    <div class="column">
      <hse-switch [(model)]="hasError">Components {{ hasError ? 'with' : 'without' }} error state</hse-switch>
      <div class="column">
        <hse-checkbox [(model)]="model1" [hasError]="hasError">Checkbox with error state</hse-checkbox>
        <hse-switch [(model)]="model2" [hasError]="hasError">Switch with error state</hse-switch>
      </div>
    </div>
  </app-component-preview>
  <app-component-preview heading="Размеры компонентов" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Для указания размера необходимо использовать опцию <b><i>size</i></b> (тип значения HseUiSizes).
        HseUiSizes имеет значения <b><i>SMALL</i></b>, <b><i>MEDIUM</i></b>, <b><i>LARGE</i></b>.
        По умолчанию устанавливается значение <b><i>MEDIUM</i></b>.
      </span>
    </ng-template>
    <div class="column">
      <div class="flex-gap">
        <ng-container *ngFor="let size of sizes; let idx = index">
          <hse-checkbox [(model)]="model1" [size]="size">Checkbox {{ idx + 1 }}</hse-checkbox>
        </ng-container>
      </div>
      <div class="flex-gap">
        <ng-container *ngFor="let size of sizes; let idx = index">
          <hse-switch [(model)]="model1" [size]="size">Switch {{ idx + 1 }}</hse-switch>
        </ng-container>
      </div>
    </div>
  </app-component-preview>
</app-page-content>
