<app-page-header pageTitle="Toast">
  <pre>@import {{ '{ HseToastModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        Модуль <b>HseToastModule</b> предоставляет доступ к компоненту <i>hse-toast</i> и сервису <i>HseToastService</i>.
        Для корректной работы компонента его необходимо установить на одном уровне с основным layout'ом проекта, а его
        контейнеру задать свойства <i>overflow: hidden</i> и <i>height: 100vh</i>.
      </span>
      <p>
        Чтобы добавить "тост", необходимо инжектировать сервис <b>HseToastService</b> в конструктор компонента и
        вызвать метод <b>addToast</b>, передав в него набор опций:
      </p>
      <ul>
        <li><b>title</b> - заголовок (тип значения string). Свойство является обязательным;</li>
        <li>
          <b>description</b> - описание (тип значения string | TemplateRef&lt;void&gt;). Свойство не является
          обязательным. Значение по умолчанию - пустая строка;
        </li>
        <li>
          <b>iconName</b> - название иконки (тип значения string). Параметр не является обязательным. Значение
          по умолчанию - info;
        </li>
        <li>
          <b>approveButtonText</b> - название кнопки подтверждения (тип значения string). Параметр не является
          обязательным. Значение по умолчанию - "Принять"
        </li>
        <li>
          <b>approveCallback</b> - колбэк-фунцкия, которую можно вызвать при клике на кнопку подтверждения
          (тип значения (() => void) | undefined). Параметр не является обязательным. Значение по умолчанию - undefined
        </li>
        <li>
          <b>rejectButtonText</b> - название кнопки отклонения (тип значения string). Параметр не является
          обязательным. Значение по умолчанию - "Отклонить"
        </li>
      </ul>
      <p>
        Чтобы скрыть "тост" необходимо вызвать у сервиса <i>HseToastService</i> метод <b>removeToast</b>
      </p>
    </ng-template>
    <hse-button (onClick)="addToast()">Вызвать hse-toast</hse-button>
  </app-component-preview>
</app-page-content>
