<app-page-header pageTitle="Radio group">
  <pre>@import {{ '{ HseRadioGroupModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseRadioGroupModule предоставляет доступ к следующим компонентам: <i>hse-radio-group</i>
      </span>
    </ng-template>
    <div class="flex-gap space-between">
      <hse-radio-group
        [collection]="radioGroup1"
        [model]="radioModel1"
        (modelChange)="changeRadio1($event)"
      ></hse-radio-group>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние">
    <div class="flex-gap">
      <hse-radio-group [collection]="radioGroup2" [(model)]="radioModel2"></hse-radio-group>
    </div>
  </app-component-preview>
  <app-component-preview heading="Состояние ошибки" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>Добавить состояние ошибки можно с помощью опции <b><i>hasError</i></b> (тип значения boolean)</span>
    </ng-template>
    <div class="column">
      <hse-switch [(model)]="hasError">Component {{ hasError ? 'with' : 'without' }} error state</hse-switch>
      <hse-radio-group
        [collection]="radioGroup1"
        [hasError]="hasError"
        [model]="indeterminateModel"
        (modelChange)="changeRadio1($event)"
      ></hse-radio-group>
    </div>
  </app-component-preview>
  <app-component-preview heading="Размеры компонентов" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Для указания размера необходимо использовать опцию <b><i>size</i></b> (тип значения HseUiSizes).
        HseUiSizes имеет значения <b><i>SMALL</i></b>, <b><i>MEDIUM</i></b>, <b><i>LARGE</i></b>.
        По умолчанию устанавливается значение <b><i>MEDIUM</i></b>.
      </span>
    </ng-template>
    <div class="column">
      <ng-container *ngFor="let size of sizes">
        <hse-radio-group
          [collection]="radioGroup1"
          [model]="radioModel1"
          (modelChange)="changeRadio1($event)"
          [size]="size"
        ></hse-radio-group>
      </ng-container>
    </div>
  </app-component-preview>
  <app-component-preview heading="Направление radioGroupItem'ов" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>
        Для указания направления radioGroupItem'ов необходимо использовать опцию <b><i>direction</i></b>
        (тип значения HseDirectionTypes). HseDirectionTypes имеет значения <b><i>COLUMN</i></b>, <b><i>ROW</i></b>.
        По умолчанию устанавливается значение <b><i>ROW</i></b>.
      </span>
    </ng-template>
    <div class="column">
      <ng-container *ngFor="let direction of directions">
        <hse-radio-group [collection]="radioGroup1" [direction]="direction" [(model)]="radioModel1"></hse-radio-group>
      </ng-container>
    </div>
  </app-component-preview>
  <app-component-preview heading="Добавление лэйбла" [description]="descriptionTmpl5">
    <ng-template #descriptionTmpl5>
      <span>
        В каждый компонент модуля можно добавить лэйбл, используя опцию label
        (тип значения string | TemplateRef&lt;void&gt;)
      </span>
    </ng-template>
    <ng-template #labelTmpl>
      <span>Form control label <sup class="required">*</sup></span>
    </ng-template>
    <hse-radio-group
      [collection]="radioGroup1"
      [label]="labelTmpl"
      [model]="radioModel1"
      (modelChange)="changeRadio1($event)"
    ></hse-radio-group>
  </app-component-preview>
</app-page-content>
