@import 'functions';
@import 'palette';

.radio {
  &__variants {
    display: flex;
    flex-direction: column;
  }

  &__variant-block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid hse-color(gray, morn-1);
    border-radius: 8px;

    &:not(:first-of-type) {
      margin: 2rem 0 0;
    }
  }

  &__sizes-block {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    align-items: baseline;
    border-top: 1px solid hse-color(gray, morn-2);
    padding: 2rem 0 0;
  }
}

.required {
  color: hse-color(system, error);
}
