@mixin icon-style {
  @include hse-icon;
  @include hse-badge-icon;
}
@mixin hse-icon {
  .hse-icon {
    height: inherit;
    width: inherit;

    &__wrapper {
      display: flex;
      align-items: center;
      height: inherit;
      width: inherit;

      svg {
        height: 100%;
        width: 100%;
        color: currentColor;
        fill: currentColor;
      }
    }
  }

  @include icon-sizes($-icon-sizes);
}
@mixin hse-badge-icon {
  .hse-badge-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
    width: inherit;

    &__wrapper {
      background-color: hse-color(background, gray-1);
      height: inherit;
      width: inherit;

      img,
      svg {
        height: 100%;
        width: 100%;
        color: currentColor;
        fill: currentColor;
      }

      img {
        object-fit: contain;
      }
    }

    &__label {
      margin: 0 0 0 0.75rem;
    }
  }

  @include badge-icon-sizes($-badge-icon-sizes);
}
@mixin icon-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-icon_#{$size} {
      height: $value;
      width: $value;
    }
  }
}
@mixin badge-icon-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-badge-icon_#{$size} .hse-badge-icon__wrapper {
      height: $value;
      width: $value;
      border-radius: map_get($-badge-icon-brs, $size);

      img {
        border-radius: map_get($-badge-icon-brs, $size);
      }
    }

    .hse-badge-icon_#{$size} .hse-badge-icon__label {
      @if ($size == 'sm') {
        font-size: 0.75rem;
      } @else if ($size == 'md') {
        font-size: 0.875rem;
      } @else {
        font-size: 1rem;
      }
    }
  }
}
