$-icon-sizes: map_get($-icon-theme-default, sizes);
$-badge-icon-sizes: map_get($-badge-icon-theme-default, sizes);
$-badge-icon-brs: map_get($common-ui-props, border-radius);
@mixin icon-theme($theme) {
  $badge-icon-sizes: map_get($theme, badge-icon-sizes);
  $icon-sizes: map_get($theme, icon-sizes);

  @if ($icon-sizes) {
    $-icon-sizes: $icon-sizes !global;
  }

  @if ($badge-icon-sizes) {
    $-badge-icon-sizes: $badge-icon-sizes !global;
  }
}
