@mixin input-style {
  $defaultState: map_get($-input-states, default);
  $disabledState: map_get($-input-states, disabled);
  $errorState: map_get($-input-states, error);

  @include common-input-style($defaultState, $disabledState, $errorState);
  @include hse-text-input($defaultState, $errorState);
  @include hse-number-input($defaultState, $errorState);
  @include hse-password-input($defaultState, $errorState);
  @include hse-input-sizes($-input-sizes);
}
@mixin common-input-style($default, $disabled, $error) {
  .hse-text-input__input,
  .hse-number-input__input,
  .hse-password-input__input {
    background-color: map_get($default, bg);
    border: 1px solid map_get($default, border);
    border-radius: 4px;
    font-family: $-font-family;
    width: 100%;
    outline: none;

    &:disabled {
      background-color: map_get($disabled, bg);
      border-color: map_get($disabled, border);
      color: map_get($disabled, color);
      cursor: default;
    }

    &:not(:disabled):hover,
    &:focus {
      border-color: map_get($default, border-hover);
    }

    &:not(:empty):invalid,
    &:not(:empty):invalid:hover {
      border-color: map_get($error, border);
    }

    &::placeholder {
      color: map_get($default, color);
    }
  }

  .hse-text-input,
  .hse-number-input,
  .hse-password-input {
    &__label {
      display: inline-block;
      margin: 0 0 0.5rem;
      color: map_get($default, color);
      font-size: 0.875rem;

      & > * {
        color: inherit;
        font-size: inherit;
      }
    }
  }
}
@mixin hse-text-input($default, $error) {
  .hse-text-input {
    &__input-wrapper {
      position: relative;
    }

    &__left-icon,
    &__right-icon {
      position: absolute;
      top: 25%;
      color: map_get($default, color);
    }

    &__left-icon {
      left: 0.5rem;
    }

    &__right-icon {
      right: 0.5rem;
    }

    &.hse-text-input_invalid {
      .hse-text-input__input {
        border-color: map_get($error, border);

        &:hover,
        &:focus {
          border-color: map_get($error, border-hover);
        }
      }
    }
  }
}
@mixin hse-number-input($default, $error) {
  .hse-number-input {
    &__input-wrapper {
      position: relative;
    }

    &__left-icon,
    &__right-icon {
      position: absolute;
      top: 25%;
      color: map_get($default, color);
    }

    &__left-icon {
      left: 0.5rem;
    }

    &__right-icon {
      right: 0.5rem;
    }

    &.hse-number-input_hide-arrows .hse-number-input__input {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        margin: 0;
        appearance: textfield;
      }
    }

    &.hse-number-input_invalid {
      .hse-number-input__input {
        border-color: map_get($error, border);

        &:hover,
        &:focus {
          border-color: map_get($error, border-hover);
        }
      }
    }
  }
}
@mixin hse-password-input($default, $error) {
  .hse-password-input {
    &__input-wrapper {
      position: relative;
    }

    &__left-icon,
    &__right-icon {
      position: absolute;
      top: 25%;
      color: map_get($default, color);
      cursor: pointer;
    }

    &__left-icon {
      left: 0.5rem;
    }

    &__right-icon {
      right: 0.5rem;
    }

    &.hse-password-input_invalid {
      .hse-password-input__input {
        border-color: map_get($error, border);

        &:hover,
        &:focus {
          border-color: map_get($error, border-hover);
        }
      }
    }
  }
}
@mixin hse-input-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-text-input_#{$size} .hse-text-input__input,
    .hse-number-input_#{$size} .hse-number-input__input,
    .hse-password-input_#{$size} .hse-password-input__input {
      padding: map_get($-input-padding, $size) 0.75rem;
      height: $value;

      @if ($size == 'sm') {
        font-size: 0.875rem;
      }
    }

    .hse-text-input_#{$size} .hse-text-input__left-icon,
    .hse-text-input_#{$size} .hse-text-input__right-icon,
    .hse-number-input_#{$size} .hse-number-input__left-icon,
    .hse-number-input_#{$size} .hse-number-input__right-icon,
    .hse-password-input_#{$size} .hse-password-input__left-icon,
    .hse-password-input_#{$size} .hse-password-input__right-icon {
      @if ($size == 'sm') {
        height: 1rem;
        width: 1rem;
      } @else if ($size == 'md') {
        height: 1.25rem;
        width: 1.25rem;
      } @else {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .hse-text-input_#{$size} .hse-text-input__left-icon ~ .hse-text-input__input,
    .hse-number-input_#{$size} .hse-number-input__left-icon ~ .hse-number-input__input,
    .hse-password-input_#{$size} .hse-password-input__left-icon ~ .hse-password-input__input {
      @if ($size == 'sm') {
        padding-left: 1.75rem;
      } @else {
        padding-left: 2.5rem;
      }
    }

    .hse-text-input_#{$size} .hse-text-input__right-icon ~ .hse-text-input__input,
    .hse-number-input_#{$size} .hse-number-input__right-icon ~ .hse-number-input__input,
    .hse-password-input_#{$size} .hse-password-input__right-icon ~ .hse-password-input__input {
      @if ($size == 'sm') {
        padding-right: 1.75rem;
      } @else {
        padding-right: 2.5rem;
      }
    }
  }
}
