<app-page-header pageTitle="Icons">
  <pre>@import {{ '{ HseIconModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Базовый набор иконок" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        Библиотека <b><i>ngx-hse-ui</i></b> содержит базовый набор иконок. Коллекцию иконок можно расширить, передав их в
        качестве аргумента при подключении модуля <b><i>HseIconModule</i></b> в ваш проект
      </span>
      <p>Пример 1 (при использовании <u>стандартного подхода</u> подключения модулей)</p>
      <pre>
        imports: [
          ...
            HseIconModule.forRoot(icons),
          ...
        ]
      </pre>
      <p>Пример 2 (при использовании <u>standalone-подхода</u>)</p>
      <pre>
        providers: [
          importProvidersFrom(
            ...
            HseIconModule.forRoot(icons),
            ...
          )
        ]
      </pre>
      <p>где icons - коллекция иконок, использующаяся в проекте (тип <b><i>HseIconStore</i></b>)</p>
    </ng-template>
    <div class="flex-gap">
      <ng-container *ngFor="let icon of icons">
        <hse-icon [name]="icon"></hse-icon>
      </ng-container>
    </div>
  </app-component-preview>
  <app-component-preview heading="Размер иконок" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>
        Для указания размера необходимо использовать опцию <b><i>size</i></b> (тип значения HseUiSizes).
        HseUiSizes имеет значения <b><i>SMALL</i></b>, <b><i>MEDIUM</i></b>, <b><i>LARGE</i></b>.
        По умолчанию устанавливается значение <b><i>MEDIUM</i></b>.
      </span>
    </ng-template>
    <ng-container *ngFor="let size of iconSizes">
      <div class="grid-2">
        <h5 class="hse-heading">{{ size.name | titlecase }}</h5>
        <div class="flex-gap">
          <ng-container *ngFor="let icon of size.icons">
            <hse-icon [name]="icon" [size]="size.name"></hse-icon>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </app-component-preview>
  <app-component-preview heading="Компонент hse-badge-icon" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        <b>hse-badge-icon</b> — это компонент, отображающий аватар пользователя (изображение или иконка), либо его инициалы.
      </span>
    </ng-template>
    <h4 class="hse-heading">Примеры использования hse-badge-icon</h4>
    <div class="flex-row-gap">
      <div class="grid-2-w-400">
        <h6 class="hse-heading">С опцией icon (по умолчанию)</h6>
        <hse-badge-icon icon="add"></hse-badge-icon>
      </div>
      <div class="grid-2-w-400">
        <h6 class="hse-heading">С опцией imageSrc (тип string)</h6>
        <hse-badge-icon
          imageSrc="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
        ></hse-badge-icon>
      </div>
      <div class="grid-2-w-400">
        <h6 class="hse-heading">С опцией label (тип string)</h6>
        <hse-badge-icon icon="add" label="Empty"></hse-badge-icon>
      </div>
      <div class="grid-2-w-400">
        <h6 class="hse-heading">С опцией size (тип HseUiSizes)</h6>
        <div class="flex-gap">
          <hse-badge-icon icon="add" [size]="sizeLg"></hse-badge-icon>
          <hse-badge-icon icon="add" [size]="sizeMd"></hse-badge-icon>
          <hse-badge-icon icon="add" [size]="sizeSm"></hse-badge-icon>
        </div>
      </div>
    </div>
  </app-component-preview>
</app-page-content>
