@import 'functions';
@import 'palette';

.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flex-row-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid-row-3 {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(3, 100px);
}

.grid-2 {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 5rem;
}

.grid-2-w-400 {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 100%;
  align-items: center;

  .hse-heading {
    margin: 0;
  }
}
