$-alert-default-props: (
  variants: (
    info: (
      bg: hse-color(brand, brand-5),
      title-color: hse-color(brand, dark),
      action-color: hse-color(brand, brand-1),
      icon-color: hse-color(brand, brand-1)
    ),
    success: (
      bg: hse-color(system, success-light),
      title-color: hse-color(system, success-dark),
      action-color: hse-color(brand, brand-1),
      icon-color: hse-color(system, success-dark)
    ),
    warning: (
      bg: hse-color(system, warning-light),
      title-color: hse-color(system, warning-dark),
      action-color: hse-color(brand, brand-1),
      icon-color: hse-color(system, warning-dark)
    ),
    error: (
      bg: hse-color(system, error-light),
      title-color: hse-color(system, error-dark),
      action-color: hse-color(brand, brand-1),
      icon-color: hse-color(system, error-dark)
    )
  )
);
