@mixin alert-style {
  .hse-alerts {
    position: fixed;
    top: 32px;
    right: 24px;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    user-select: none;
  }

  .hse-alert__wrapper {
    display: flex;
  }

  .hse-alert {
    position: relative;
    display: flex;
    text-align: left;
    line-height: 1.25rem;
    padding: 16px;
    margin: 0 0 24px 0;
    border-radius: 8px;
    gap: 16px;
    max-width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

    &__close-icon {
      color: hse-color(grey, dusk-1);
      cursor: pointer;
    }

    &__title {
      line-height: 1.5rem;
      font-weight: 600;
    }

    &__description {
      margin: 16px 0 0 0;
      font-weight: 400;
      font-size: 0.875rem;
    }

    &__actions {
      margin: 16px 0 0 0;
    }

    &__action {
      background-color: transparent;
      border: none;
      padding: 0;
      outline: none;
      text-decoration: underline;
      cursor: pointer;

      &:not(:first-of-type) {
        margin: 0 0 0 1rem;
      }
    }
  }

  .fadeInRight {
    animation: fadeInRight 0.7s forwards;
  }

  .fadeOutRight {
    animation: fadeOutRight 0.7s forwards;
  }

  @keyframes fadeInRight {
    from {
      max-height: 0;
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }

    50% {
      max-height: 400px;
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeOutRight {
    from {
      opacity: 1;
      transform: none;
    }

    50% {
      max-height: 400px;
    }

    to {
      max-height: 0;
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  }

  @include hse-alert-variants($-alert-variants);
}

@mixin hse-alert-variants($variants) {
  @each $variant, $colors in $variants {
    .hse-alert_#{$variant} {
      background-color: map_get($colors, bg);

      .hse-alert__icon {
        color: map_get($colors, icon-color);
      }

      .hse-alert__title {
        color: map_get($colors, title-color);
      }

      .hse-alert__action {
        color: map_get($colors, action-color);
      }
    }
  }
}
