$-alert-variants: map_get($-alert-default-props, variants);

@mixin alert-theme($theme) {
  $alert-variants: map_get($theme, variants);

  @if ($alert-variants) {
    $-alert-variants: $alert-variants !global;
  }
}
