@mixin button-style {
  @include hse-button;
  @include hse-button-group;
  @include hse-icon-button;
  @include hse-button-sizes($-button-sizes);
}
@mixin hse-button {
  .hse-button {
    &__button {
      height: 100%;
      width: auto;
      border: 0.0625rem solid;
      border-radius: 0.25rem;
      cursor: pointer;
      font-family: $-font-family;
      font-size: 0.875rem;

      &:disabled {
        cursor: default;
        opacity: 0.6;
      }
    }
  }

  @include hse-button-style($-button-variants, $-button-inactive);
}
@mixin hse-button-style($variants, $inactiveColors) {
  @each $name, $colors in $variants {
    .hse-button_#{$name} .hse-button__button {
      background-color: map_get($colors, bg);
      border-color: map_get($colors, border);
      color: map_get($colors, color);

      &:not(:disabled):hover {
        background-color: map_get($colors, bg-hover);
        border-color: map_get($colors, border-hover);

        @if ($name == 'secondary') {
          color: map_get($colors, border-hover);
        }
      }
    }

    .hse-button_#{$name}.hse-button_inactive {
      & .hse-button__button,
      & .hse-button__button:hover {
        background-color: map_get($inactiveColors, bg);
        border-color: map_get($inactiveColors, border);
        color: map_get($inactiveColors, color);
        cursor: not-allowed;
      }
    }
  }
}
@mixin hse-button-group {
  .hse-button-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    &__button {
      border: 1px solid map_get($-button-group-default, border);
      background-color: map_get($-button-group-default, bg);
      color: map_get($-button-group-default, color);
      cursor: pointer;
      font-size: 0.875rem;

      &:not(:disabled):hover {
        background-color: map_get($-button-group-default, bg-hover);
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:disabled {
        cursor: default;
      }

      &:not(.active):disabled,
      &:not(.active):disabled:hover {
        background-color: map_get($-button-group-default, bg);
        border-top-color: map_get($-button-group-default, border);
        border-bottom-color: map_get($-button-group-default, border);
        color: map_get($-button-group-default, color);
        opacity: 0.6;
      }
    }
  }

  @include hse-button-group-style($-button-group-active);
}
@mixin hse-button-group-style($active) {
  .hse-button-group_primary .hse-button-group__button {
    &:not(:disabled):hover,
    &.active {
      background-color: map_get($active, bg);
      border-top-color: map_get($active, border);
      border-bottom-color: map_get($active, border);
      color: map_get($active, color);
    }

    &:not(:disabled):first-child:hover,
    &:not(:disabled):first-child.active {
      border-left-color: map_get($active, border);
    }

    &:not(:disabled):last-child:hover,
    &:not(:disabled):last-child.active {
      border-right-color: map_get($active, border);
    }

    &:disabled:first-child.active,
    &:disabled:first-child.active:hover {
      border-left-color: map_get($active, border);
    }

    &:disabled:last-child.active,
    &:disabled:last-child.active:hover {
      border-right-color: map_get($active, border);
    }

    &:not(:disabled).active:hover {
      background-color: map_get($active, bg-hover);
      border-top-color: map_get($active, border-hover);
      border-bottom-color: map_get($active, border-hover);
    }

    &:disabled.active {
      background-color: map_get($active, bg);
      border-top-color: map_get($active, border);
      border-bottom-color: map_get($active, border);
      color: map_get($active, color);
      opacity: 0.6;
    }

    &:not(:first-of-type) {
      margin: 0 0 0 -1px;
    }
  }
}
@mixin hse-icon-button {
  .hse-icon-button {
    display: block;

    &__button {
      height: inherit;
      width: inherit;
      border: 0.0625rem solid;
      border-radius: 0.25rem;
      cursor: pointer;
      font-family: $-font-family;
      font-size: 0.875rem;

      &:disabled {
        cursor: default;
        opacity: 0.6;
      }
    }

    &__page-number {
      font-size: 0.875rem;
    }
  }

  @include hse-icon-button-style($-icon-button-variants, $-icon-button-inactive);
}
@mixin hse-icon-button-style($variants, $inactiveColors) {
  @each $name, $colors in $variants {
    .hse-icon-button_#{$name} .hse-icon-button__button {
      background-color: map_get($colors, bg);
      border-color: map_get($colors, border);
      color: map_get($colors, color);

      &:not(:disabled):hover {
        background-color: map_get($colors, bg-hover);
        border-color: map_get($colors, border-hover);

        @if ($name == 'secondary') {
          color: map_get($colors, border-hover);
        }
      }
    }

    .hse-icon-button_#{$name}.hse-icon-button_inactive {
      & .hse-icon-button__button,
      & .hse-icon-button__button:hover {
        background-color: map_get($inactiveColors, bg);
        border-color: map_get($inactiveColors, border);
        color: map_get($inactiveColors, color);
        cursor: not-allowed;
      }
    }
  }
}
@mixin hse-button-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-button.hse-button_#{$size},
    .hse-button-group.hse-button-group_#{$size} {
      height: $value;
    }

    .hse-button-group_#{$size} .hse-button-group__button,
    .hse-button_#{$size} .hse-button__button {
      padding: map_get($-button-padding, $size);
    }

    .hse-icon-button.hse-icon-button_#{$size} {
      height: $value;
      width: $value;

      & .hse-icon-button__button {
        border-radius: map_get($-icon-button-radius, $size);
        padding: map_get($-icon-button-padding, $size);
      }

      & .hse-icon-button__icon,
      & .hse-icon-button__page-number {
        @if ($size != 'sm') {
          height: 1.875rem;
          width: 1.875rem;
        } @else {
          height: 1.625rem;
          width: 1.625rem;
        }
      }
    }
  }
}
