$-button-padding: map_get($-button-default-props, padding);
$-button-sizes: map_get($-button-default-props, sizes);
$-button-variants: map_get($-button-default-props, variants);
$-button-inactive: map_get($-button-default-props, inactive);

$-button-group-default: map_get($-button-group-default-props, default);
$-button-group-active: map_get($-button-group-default-props, active);

$-icon-button-padding: map_get($-icon-button-default-props, padding);
$-icon-button-radius: map_get($-icon-button-default-props, border-radius);
$-icon-button-sizes: map_get($-icon-button-default-props, sizes);
$-icon-button-variants: map_get($-icon-button-default-props, variants);
$-icon-button-inactive: map_get($-button-default-props, inactive);
@mixin button-theme($theme) {
  $button-padding: map_get($theme, button-padding);
  $button-sizes: map_get($theme, button-sizes);
  $button-variants: map_get($theme, button-variants);
  $button-inactive: map_get($theme, button-inactive);

  $button-group-default: map_get($theme, button-group-default);
  $button-group-variants: map_get($theme, button-group-variants);

  $icon-button-padding: map_get($theme, icon-button-padding);
  $icon-button-sizes: map_get($theme, icon-button-sizes);
  $icon-button-variants: map_get($theme, icon-button-variants);
  $icon-button-inactive: map_get($theme, icon-button-inactive);
  $icon-button-radius: map_get($theme, border-radius);

  @if ($button-padding) {
    $-button-padding: $button-padding !global;
  }

  @if ($button-sizes) {
    $-button-sizes: $button-sizes !global;
  }

  @if ($button-variants) {
    $-button-variants: $button-variants !global;
  }

  @if ($button-inactive) {
    $-button-inactive: $button-inactive !global;
  }

  @if ($button-group-default) {
    $-button-group-default: $button-group-default !global;
  }

  @if ($-button-group-active) {
    $-button-group-active: $-button-group-active !global;
  }

  @if ($icon-button-padding) {
    $-icon-button-padding: $icon-button-padding !global;
  }

  @if ($icon-button-radius) {
    $-icon-button-radius: $icon-button-radius !global;
  }

  @if ($icon-button-sizes) {
    $-icon-button-sizes: $icon-button-sizes !global;
  }

  @if ($icon-button-variants) {
    $-icon-button-variants: $icon-button-variants !global;
  }

  @if ($icon-button-inactive) {
    $-icon-button-inactive: $icon-button-inactive !global;
  }
}
