@mixin radio-group-style {
  $radioActiveState: map_get($-radio-states, active);
  $radioDefaultState: map_get($-radio-states, default);
  $radioDisabledState: map_get($-radio-states, disabled);
  $radioErrorState: map_get($-radio-states, error);

  @include hse-radio-group($radioDefaultState, $radioDisabledState);
  @include hse-radio-group-style($radioActiveState, $radioErrorState);
  @include hse-radio-group-sizes($-radio-sizes);
}
@mixin hse-radio-group($default, $disabled) {
  .hse-radio {
    &-group {
      display: flex;
      flex-direction: column;

      &__label {
        display: inline-block;
        margin: 0 0 0.5rem;
        color: map_get($default, color);
        font-size: 0.875rem;

        & > * {
          color: inherit;
          font-size: inherit;
        }
      }

      &__buttons {
        display: flex;
      }

      &__column-buttons {
        flex-direction: column;

        & .hse-radio-button:not(:first-of-type) {
          margin: 1rem 0 0;
        }
      }

      &__row-buttons {
        flex-direction: row;

        & .hse-radio-button:not(:first-of-type) {
          margin: 0 0 0 1rem;
        }
      }
    }

    &-button {
      display: flex;
      align-items: center;

      &:hover .hse-radio-button__input:not(:disabled, :checked) {
        & ~ .hse-radio-button__label {
          cursor: pointer;
        }
      }

      &__input {
        position: relative;
        appearance: none;
        background-color: map_get($default, bg);
        border: 1px solid map_get($default, border);
        border-radius: 50%;
        cursor: pointer;
        margin: 0;
        outline: none;

        &::before {
          position: absolute;
          top: -1px;
          left: -1px;
          background-color: hse-color(base, white);
          border-radius: 50%;
          content: '';
          transform: scale(0);
        }

        &:checked::before {
          transform: scale(0.25);
        }

        &:checked:disabled,
        &:not(:checked):disabled {
          background-color: map_get($disabled, bg);
          border-color: map_get($disabled, border);
          cursor: default;

          & ~ .hse-radio-button__label {
            color: map_get($disabled, color);
            cursor: default;
          }
        }
      }

      &__label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 0.5rem;
        user-select: none;
      }
    }
  }
}
@mixin hse-radio-group-style($active, $error) {
  .hse-radio-group .hse-radio-button:hover {
    & .hse-radio-button__input:not(:disabled, :checked) {
      border-color: map_get($active, border);
    }
  }

  .hse-radio-group .hse-radio-button__input {
    &:not(:disabled):checked {
      background-color: map_get($active, bg);
      border-color: map_get($active, border);

      &:hover {
        background-color: map_get($active, bg-hover);
        border-color: map_get($active, border-hover);
      }
    }
  }

  .hse-radio-group.hse-radio-group_invalid .hse-radio-button__input {
    &:not(:disabled) {
      border-color: map_get($error, border);

      &:hover {
        border-color: map_get($error, border-hover);
      }
    }
  }
}
@mixin hse-radio-group-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-radio-group_#{$size} .hse-radio-button__input,
    .hse-radio-group_#{$size} .hse-radio-button__input::before {
      height: $value;
      width: $value;
    }

    .hse-radio-group_#{$size} .hse-radio-button__label {
      @if ($size == 'sm') {
        font-size: 0.875rem;
      }
    }
  }
}
