@import 'functions';
@import 'palette';

.input {
  &__sizes-block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid hse-color(gray, morn-1);
    border-radius: 8px;

    &:not(:first-of-type) {
      margin: 2rem 0 0;
    }
  }

  &__states-block {
    display: flex;
    flex-direction: column;

    & > *:not(:first-of-type) {
      margin: 1rem 0 0;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &-wrapper {
    display: flex;
    flex-direction: column;

    .form-field {
      &:not(:first-of-type) {
        margin: 1rem 0 0;
      }
    }
  }

  &-output {
    margin: 1rem 0 0;
  }
}

.required {
  color: hse-color(system, error-dark);
}
