<app-page-header pageTitle="Input">
  <pre>@import {{ '{ HseInputModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseInputModule предоставляет доступ к следующим компонентам: <i>hse-text-input</i>, <i>hse-number-input</i>,
        <i>hse-password-input</i>
      </span>
    </ng-template>
    <div class="column">
      <hse-text-input [(model)]="model1" [placeholder]="placeholder1"></hse-text-input>
      <hse-number-input [(model)]="model2" [placeholder]="placeholder2"></hse-number-input>
      <hse-password-input [(model)]="model3" [placeholder]="placeholder3"></hse-password-input>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние">
    <div class="column">
      <hse-text-input [(model)]="model1" [placeholder]="placeholder1" [disabled]="true"></hse-text-input>
      <hse-number-input [(model)]="model2" [placeholder]="placeholder2" [disabled]="true"></hse-number-input>
      <hse-password-input [(model)]="model3" [placeholder]="placeholder3" [disabled]="true"></hse-password-input>
    </div>
  </app-component-preview>
  <app-component-preview heading="Состояние ошибки" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>Добавить состояние ошибки можно с помощью опции <b><i>hasError</i></b> (тип значения boolean)</span>
    </ng-template>
    <div class="column">
      <hse-switch [(model)]="hasError">Components {{ hasError ? 'with' : 'without' }} error state</hse-switch>
      <hse-text-input [(model)]="model1" [placeholder]="placeholder1" [hasError]="hasError"></hse-text-input>
      <hse-number-input [(model)]="model2" [placeholder]="placeholder2" [hasError]="hasError"></hse-number-input>
      <hse-password-input [(model)]="model3" [placeholder]="placeholder3" [hasError]="hasError"></hse-password-input>
    </div>
  </app-component-preview>
  <app-component-preview heading="Размеры компонентов" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Для указания размера необходимо использовать опцию <b><i>size</i></b> (тип значения HseUiSizes).
        HseUiSizes имеет значения <b><i>SMALL</i></b>, <b><i>MEDIUM</i></b>, <b><i>LARGE</i></b>.
        По умолчанию устанавливается значение <b><i>MEDIUM</i></b>.
      </span>
    </ng-template>
    <div class="column">
      <ng-container *ngFor="let size of sizes">
        <hse-text-input [(model)]="model1" [placeholder]="placeholder1" [size]="size"></hse-text-input>
      </ng-container>
    </div>
  </app-component-preview>
  <app-component-preview heading="Добавление иконок" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>
        Чтобы добавить иконку в компонентах <i>hse-text-input</i> и <i>hse-number-input</i> необходимо передать ее
        название в опции <b><i>leftIcon</i></b> или <b><i>rightIcon</i></b>.
        Для добавления иконки переключения видимости пароля в компоненте <i>hse-password-input</i> следует использовать
        опцию <b><i>withIcons</i></b> (тип значения boolean).
      </span>
    </ng-template>
    <div class="column">
      <div class="flex-gap">
        <hse-text-input [(model)]="model1" [placeholder]="placeholder1" leftIcon="notifications"></hse-text-input>
        <hse-text-input [(model)]="model1" [placeholder]="placeholder1" rightIcon="search"></hse-text-input>
        <hse-text-input
          [(model)]="model1"
          [placeholder]="placeholder1"
          leftIcon="notifications"
          rightIcon="search"
        ></hse-text-input>
      </div>
      <div class="flex-gap">
        <hse-number-input [(model)]="model2" [placeholder]="placeholder2" leftIcon="notifications"></hse-number-input>
        <hse-number-input [(model)]="model2" [placeholder]="placeholder2" rightIcon="search"></hse-number-input>
        <hse-number-input
          [(model)]="model2"
          [placeholder]="placeholder2"
          leftIcon="notifications"
          rightIcon="search"
        ></hse-number-input>
      </div>
      <div class="flex-gap">
        <hse-password-input [(model)]="model3" [placeholder]="placeholder3" [withIcons]="true"></hse-password-input>
      </div>
    </div>
  </app-component-preview>
  <app-component-preview heading="Добавление маски" [description]="descriptionTmpl5">
    <ng-template #descriptionTmpl5>
      <span>
        В компоненте <i>hse-text-input</i> можно добавить маску для ввода значений, используя
        опцию mask (из библиотеки <a href="https://github.com/JsDaddy/ngx-mask">ngx-mask</a>)
      </span>
    </ng-template>
    <div class="column">
      <hse-text-input [(model)]="maskModel1" mask="UULUUUA" placeholder="ASmQWE9"></hse-text-input>
      <hse-text-input [(model)]="maskModel2" mask="0*.00" placeholder="0.00"></hse-text-input>
    </div>
  </app-component-preview>
  <app-component-preview heading="Добавление лэйбла" [description]="descriptionTmpl6">
    <ng-template #descriptionTmpl6>
      <span>
        В каждый компонент модуля можно добавить лэйбл, используя опцию label (тип значения string | TemplateRef&lt;void&gt;)
      </span>
    </ng-template>
    <div class="column">
      <hse-text-input
        [(model)]="model1"
        [placeholder]="placeholder1"
        label="Текстовое поле ввода"
      ></hse-text-input>
      <hse-number-input
        [(model)]="model2"
        [placeholder]="placeholder2"
        label="Числовое поле ввода"
      ></hse-number-input>
      <hse-password-input
        [(model)]="model3"
        [placeholder]="placeholder3"
        label="Поле ввода для пароля"
      ></hse-password-input>
    </div>
  </app-component-preview>
  <app-component-preview heading="Блокировка спецсимволов и скрытие стрелок/спиннеров" [description]="descriptionTmpl7">
    <ng-template #descriptionTmpl7>
      <span>
        Компонент <i>hse-number-input</i> по умолчанию блокирует возможность ввода спецсимволов <sup>1</sup>. Чтобы
        отключить необходимо передать в компонент опцию <b><i>disableSpecialSymbols</i></b> со значением
        <b><i>false</i></b>
      </span>
      <p>
        Также в <i>hse-number-input</i> можно скрыть отображение стрелок/спиннеров: необходимо передать в компонент
        опцию hideArrows со значением true
      </p>
      <p><sup>1</sup> - список кодом блокируемых символов: ['KeyE', 'Minus', 'Equal', 'Period']</p>
    </ng-template>
    <div class="column">
      <div class="flex-gap">
        <hse-number-input
          [disableSpecialSymbols]="false"
          [(model)]="model2"
          placeholder="With special symbols"
        ></hse-number-input>
        <hse-number-input
          [(model)]="model2"
          placeholder="Without special symbols"
        ></hse-number-input>
      </div>
      <div class="flex-gap">
        <hse-number-input [(model)]="model2" placeholder="With arrows"></hse-number-input>
        <hse-number-input [(model)]="model2" [hideArrows]="true" placeholder="Without arrows"></hse-number-input>
      </div>
    </div>
  </app-component-preview>
  <app-component-preview heading="Использование в реактивных формах">
    <div class="form-wrapper">
      <pre>{{ formGroup.value | json }}</pre>
      <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <hse-text-input formControlName="firstName" [label]="firstNameTmpl"></hse-text-input>
        </div>
        <div class="form-field">
          <hse-text-input formControlName="lastName" label="Last name"></hse-text-input>
        </div>
        <div class="form-field">
          <hse-number-input formControlName="age" [label]="ageTmpl"></hse-number-input>
        </div>
        <div class="form-field">
          <hse-password-input formControlName="password" [label]="passwordTmpl"></hse-password-input>
        </div>
        <div class="form-field">
          <hse-button [type]="type">Submit</hse-button>
        </div>
      </form>
    </div>
    <ng-template #firstNameTmpl>
      <span>First name <sup class="required">*</sup></span>
    </ng-template>
    <ng-template #ageTmpl>
      <span>Age <sup class="required">*</sup></span>
    </ng-template>
    <ng-template #passwordTmpl>
      <span>Password <sup class="required">*</sup></span>
    </ng-template>
  </app-component-preview>
</app-page-content>
