$-collapse-default-props: (
  padding: 16px 0,
  padding-alt: 0 0 32px 0,
  states: (
    default: (
      bg: hse-color(base, white),
      border: hse-color(gray, morn-2),
      color: hse-color(base, black),
      color-hover: hse-color(brand, brand-1),
      color-alt: hse-color(gray, dusk-1),
    )
  )
);
