@mixin collapse-style {
  $default: map_get($-collapse-states, default);

  .hse-collapse {
    display: flex;
    flex-direction: column;

    &-panel {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: map_get($default, border);

      &:not(:first-of-type) {
        border-top-width: 0;
      }

      &__trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $-collapse-padding;
        width: 100%;
        border: none;
        outline: none;
        font-family: $-font-family;
        transition: .3s ease;
        background-color: transparent;
        cursor: pointer;

        &.active,
        &:hover {
          color: map_get($default, color-hover);
        }
      }

      &__content {
        font-family: $-font-family;
        padding: $-collapse-padding-alt;
        color: map_get($default, color-alt);
      }

      &__icon {
        color: map_get($default, color-alt);
        transition: .3s ease;
      }

      &_borderless {
        border: none;
      }
    }
  }

  .has-left-indent {
    padding-left: 16px;
  }
}
