$-collapse-padding: map_get($-collapse-default-props, padding);
$-collapse-padding-alt: map_get($-collapse-default-props, padding-alt);
$-collapse-states: map_get($-collapse-default-props, states);

@mixin collapse-theme($theme) {
  $collapse-padding: map_get($theme, padding);
  $collapse-padding-alt: map_get($theme, padding-alt);
  $collapse-states: map_get($theme, states);

  @if ($collapse-padding) {
    $-collapse-padding: $collapse-padding !global;
  }

  @if ($collapse-padding-alt) {
    $-collapse-padding-alt: $collapse-padding-alt !global;
  }

  @if ($collapse-states) {
    $-collapse-states: $collapse-states !global;
  }
}
