$-tags-default-props: (
  padding: (
    sm: 0.375rem 0.5rem,
    md: 0.375rem 0.75rem,
    lg: 0.5rem 0.875rem,
  ),
  size: (
    sm: 1.5rem,
    md: 2rem,
    lg: 2.25rem,
  ),
  variants: (
    primary: (
      bg: hse-color(brand, brand-1),
      bg-hover: hse-color(brand, dark),
      border: hse-color(brand, brand-1),
      border-hover: hse-color(brand, dark),
      color: hse-color(brand, brand-1),
      color-hover: hse-color(base, white),
    ),
    secondary: (
      bg: hse-color(base, white),
      bg-hover: hse-color(base, white),
      border: hse-color(gray, dusk-1),
      border-hover: hse-color(brand, brand-1),
      color: hse-color(gray, dusk-1),
      color-hover: hse-color(brand, brand-1),
    ),
  ),
);
