@mixin tags-style {
  .hse-tag {
    display: inline-flex;
    align-items: center;
    border: 1px solid;
    border-radius: 4px;
    min-width: 0;
    width: fit-content;
    user-select: none;

    &__label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__left-icon {
      margin: 0 0.25rem 0 0;
    }

    &__right-icon {
      margin: 0 0 0 0.25rem;
    }

    &_disabled {
      background-color: hse-color(base, white);
      border-color: hse-color(gray, dusk-4);
      color: hse-color(gray, dusk-3);
      cursor: default;
    }
  }

  @include hse-tags-variant($-tags-variants);
  @include hse-tags-size($-tags-size);
}
@mixin hse-tags-variant($variants) {
  @each $variant, $colors in $variants {
    .hse-tag_#{$variant}:not(.hse-tag_disabled) {
      background-color: transparentize(map_get($colors, bg), 0.9);
      border-color: transparentize(map_get($colors, border), 0.9);
      color: map_get($colors, color);
    }

    .hse-tag_#{$variant}.hse-tag_clickable {
      &:not(.hse-tag_disabled) {
        &.selected:hover,
        &:hover {
          background-color: map_get($colors, bg-hover);
          border-color: map_get($colors, border-hover);
          color: map_get($colors, color-hover);
          cursor: pointer;
        }

        &.selected {
          background-color: hse-color(brand, brand-1);
          border-color: hse-color(brand, brand-1);
          color: hse-color(base, white);
          cursor: pointer;
        }
      }
    }
  }
}
@mixin hse-tags-size($sizes) {
  @each $size, $value in $sizes {
    .hse-tag_#{$size} {
      padding: map_get($-tags-padding, $size);
      height: $value;

      .hse-tag__label {
        @if ($size == 'lg') {
          height: 1.5rem;
          line-height: 1.5rem;
          font-size: 1rem;
        } @else if ($size == 'md') {
          height: 1.25rem;
          line-height: 1.25rem;
          font-size: 0.875rem;
        } @else {
          height: 1rem;
          line-height: 1rem;
          font-size: 0.75rem;
        }
      }

      .hse-tag__left-icon,
      .hse-tag__right-icon {
        @if ($size == 'lg') {
          height: 1.5rem;
          width: 1.5rem;
        } @else if ($size == 'md') {
          height: 1.25rem;
          width: 1.25rem;
        } @else {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
