$-tags-padding: map_get($-tags-default-props, padding);
$-tags-size: map_get($-tags-default-props, size);
$-tags-variants: map_get($-tags-default-props, variants);
@mixin tags-theme($theme) {
  $tags-padding: map_get($theme, padding);
  $tags-size: map_get($theme, size);
  $tags-variants: map_get($theme, variants);

  @if ($tags-padding) {
    $-tags-padding: $tags-padding !global;
  }

  @if ($tags-size) {
    $-tags-size: $tags-size !global;
  }

  @if ($tags-variants) {
    $-tags-variants: $tags-variants !global;
  }
}
