$-file-input-default-props: (
  padding: (
    sm: 12px,
    md: 8px,
    lg: 6px,
  ),
  sizes: (
    lg: (
      padding: 12px,
      icon-width: 24px
    ),
    md:(
      padding: 8px,
      icon-width: 24px
    ),
    sm: (
      padding: 4px,
      icon-width: 16px
    ),
  ),
  states: (
    default: (
      bg: hse-color(base, white),
      bg-hover: hse-color(brand, brand-5),
      border: hse-color(base, white),
      border-hover: hse-color(base, white),
      color: hse-color(brand, brand-1),
    ),
    multiple: (
      color: hse-color(gray, dusk-1),
      bg-hover: hse-color(gray, morn-4),
    ),
    disabled: (
      bg: hse-color(gray, morn-3),
      bg-hover: hse-color(gray, morn-3),
      border: hse-color(gray, morn-1),
      border-hover: hse-color(gray, morn-1),
      color: hse-color(gray, dusk-4),
    ),
    error: (
      bg: hse-color(system, error-light),
      color: hse-color(system, error),
    ),
  ),
);
