@mixin file-input-style {

  $states: map_get($-file-input-default-props, states);
  $defaultState: map_get($states, default);
  $multipleState: map_get($states, multiple);
  $disabledState: map_get($states, disabled);
  $errorState: map_get($states, error);

  @include file-input-sizes(map_get($-file-input-default-props, sizes));

  .hse-file-input__wrapper {
    display: inline-block;

    &__dropzone {
      user-select: none;
      display: inline-flex;
      align-items: center;
      border-radius: 2px;
      border: 2px transparent solid;
      box-sizing: border-box;

      color: map-get($defaultState, color);

      hse-icon {
        position: relative;
        z-index: 99;
        pointer-events: none;

        &.attach-icon {
          path {
            stroke-width: 20px;
            stroke: map-get($defaultState, color);
          }
        }
      }

      &__label {
        align-self: center;
        pointer-events: none;
        position: relative;
        z-index: 99;
        margin-left: 5px;
        font-weight: bold;
      }

      &:hover, &.drop-hover {
        cursor: pointer;
        background: map-get($defaultState, bg-hover);
      }

      &:active {
        background: none;
      }

      &.focused {
        border: 2px solid map-get($defaultState, bg-hover);
      }

      &.no-bg {
        background: none;
      }

      &.dropzone {
        border: 2px dashed map-get($defaultState, color);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      max-height: 240px;
      overflow: auto;

      &__item {
        white-space: nowrap;

        &__label-wrapper {
          align-self: center;
        }

        &__name {
          text-overflow: ellipsis;
          max-width: 300px;
          overflow: hidden;
          white-space: nowrap;
        }

        &__size {
          font-weight: normal !important;
          text-transform: uppercase;
        }
      }
    }

    &__hint {
      color: map-get($multipleState, color);
      font-size: 12px;
    }


    .default-card {
      user-select: none;
      display: inline-flex;
      align-items: flex-start;
      border-radius: 2px;
      border: 2px transparent solid;
      box-sizing: border-box;

      color: map-get($defaultState, color);

      hse-icon {
        position: relative;
        z-index: 99;

        &.attach-icon {
          pointer-events: none;
          margin-right: 10px;

          path {
            stroke-width: 20px;
            stroke: map-get($defaultState, color);
          }
        }

        &.file-icon {
          width: 26px;
          height: 31px;
          margin-top: 4px;
          color: #D3D8E5 !important;

          path {
            stroke-width: 0;
          }
        }
      }

      &__label {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        pointer-events: none;
        position: relative;
        z-index: 99;
        margin-left: 5px;
        font-weight: bold;
      }

      .remove-icon {
        margin-left: 10px;
        visibility: hidden;
        color: map-get($defaultState, color-multiple);
        cursor: pointer;
      }

      &:hover {
        cursor: pointer;
        background: map-get($defaultState, bg-hover);

        .remove-icon {
          visibility: visible;
        }
      }


      &.multiple {
        color: map-get($multipleState, color);

        hse-icon {
          position: relative;
          z-index: 99;
          color: map-get($multipleState, color);

          &.attach-icon path {
            stroke: map-get($multipleState, color);
          }
        }

        &:hover {
          background: map-get($multipleState, bg-hover);
        }
      }
    }

    .progress-bar-wrapper {
      align-self: center;
      width: 200px;

      &__title {
        font-weight: bold;
      }
    }
  }

  .hse-file-input_invalid .hse-file-input__wrapper {
    &__dropzone {
      background:  map_get($errorState, bg);

    }

    &__hint {
      color:  map_get($errorState, color);
    }
  }

  .hse-file-input_disabled .hse-file-input__wrapper {
    &__dropzone {
      background:  map_get($disabledState, bg);
      color:  map_get($disabledState, color);

      hse-icon {
        &.attach-icon {
          path {
            stroke: map-get($disabledState, color);
          }
        }
      }
    }
  }
}


@mixin file-input-sizes($sizes) {
  @each $size, $sizeData in $sizes {
    .hse-file-input_#{$size}{
      .hse-file-input__wrapper {
        &__dropzone {
          padding: map-get($sizeData, padding);
        }
      }

      .default-card {
        padding: map-get($sizeData, padding);
      }

      hse-icon {
        width: map-get($sizeData, icon-width) !important;
      }
    }
  }

  .hse-file-input_sm {
    .hse-file-input__wrapper__list__item__size,
    .progress-bar-wrapper__title {
      display: none !important;
    }
  }
}
