$-loader-container-bg: map_get($-loader-default-props, container-bg);
$-loader-dots-bg: map_get($-loader-default-props, dots-bg);

@mixin loader-theme($theme) {
  $loader-container-bg: map_get($theme, container-bg);
  $loader-dots-bg: map_get($theme, dots-bg);

  @if ($loader-container-bg) {
    $-loader-container-bg: $loader-container-bg !global;
  }

  @if ($loader-dots-bg) {
    $-loader-dots-bg: $loader-dots-bg !global;
  }
}
