@import 'functions';
@import 'palette';

.intro {
  &__grid {
    display: grid;
    grid-template-areas:
      'components heading'
      'components palette';
    grid-gap: 1rem;
    grid-template-rows: 100% 100%;
    grid-auto-columns: 1fr;
  }

  &__card {
    border: 1px solid hse-color(gray, morn-3);
    border-radius: 12px;
    color: hse-color(base, black);
    padding: 1.5rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;

    &:hover {
      border-color: hse-color(brand, brand-1);
      color: hse-color(brand, brand-1);
      cursor: pointer;
    }
  }
}

.components {
  grid-area: components;
}

.heading {
  grid-area: heading;
}

.palette {
  grid-area: palette;
}
