<app-page-header pageTitle="Библиотека UI-компонентов">
  <p></p>
</app-page-header>
<app-page-content>
  <div class="intro__grid">
    <ng-container *ngFor="let card of cards">
      <a class="intro__card" [ngClass]="card.className" [routerLink]="['/' + card.routePath]">
        <h3 class="hse-heading">{{ card.name }}</h3>
      </a>
    </ng-container>
  </div>
</app-page-content>
