@mixin progress-bar-style {
  $default: $-progress-bar-default-props;

  .hse-progress-bar__wrapper {
    overflow: hidden;
    background: map-get($default, bg-color);

    &__value {
        background: map-get($default, value-color);
        transition: width .3s ease-in-out;
    }
  }

  @include progress-bar-sizes(map-get($default, sizes));
}


@mixin progress-bar-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-progress-bar_#{$size}{
      .hse-progress-bar__wrapper {
        height: $value;
        border-radius: $value;

        &__value {
          height: $value;
          border-radius: $value;
        }
      }
    }
  }
}
