<app-page-header pageTitle="Button">
  <pre>@import {{ '{ HseButtonModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseButtonModule предоставляет доступ к следующим компонентам: <i>hse-button</i>, <i>hse-button-group</i>,
        <i>hse-icon-button</i>
      </span>
    </ng-template>
    <div class="flex-gap space-between">
      <hse-button (onClick)="onButtonClick()">Button</hse-button>
      <hse-button-group [buttons]="buttons"></hse-button-group>
      <hse-icon-button iconName="add"></hse-icon-button>
    </div>
  </app-component-preview>
  <app-component-preview heading="Размеры компонентов" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>
        Для указания размера необходимо использовать опцию <b><i>size</i></b> (тип значения HseUiSizes).
        HseUiSizes имеет значения <b><i>SMALL</i></b>, <b><i>MEDIUM</i></b>, <b><i>LARGE</i></b>.
        По умолчанию устанавливается значение <b><i>MEDIUM</i></b>.
      </span>
    </ng-template>
    <div class="column">
      <div class="flex-gap">
        <ng-container *ngFor="let size of sizes">
          <hse-button [size]="size">{{ size | titlecase }} button</hse-button>
        </ng-container>
      </div>
      <div class="column">
        <ng-container *ngFor="let size of sizes">
          <hse-button-group [buttons]="buttons" [size]="size"></hse-button-group>
        </ng-container>
      </div>
      <div class="flex-gap">
        <ng-container *ngFor="let size of sizes">
          <hse-icon-button iconName="add" [size]="size"></hse-icon-button>
        </ng-container>
      </div>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отрисовка компонентов" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>В библиотеке ngx-hse-ui предусмотрены варианты отрисовки компонентов.</span>
      <p>
        Для указания нужной необходимо использовать опцию <b><i>variant</i></b> (тип значения HseUiVariants).
        HseUiVariants имеет значения <b><i>PRIMARY</i></b>, <b><i>SECONDARY</i></b> и <b><i>TERTIARY</i></b>.
        По умолчанию устанавливается значение <b><i>PRIMARY</i></b>.
      </p>
    </ng-template>
    <div class="column">
      <div class="flex-gap">
        <ng-container *ngFor="let variant of variants">
          <hse-button [variant]="variant">Button</hse-button>
        </ng-container>
      </div>
      <div class="flex-gap">
        <ng-container *ngFor="let variant of variants">
          <hse-icon-button [variant]="variant" iconName="add"></hse-icon-button>
        </ng-container>
      </div>
    </div>
  </app-component-preview>
  <app-component-preview heading="Состояния disabled и inactive" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>Кнопка может находиться в состояниях <b><i>disabled</i></b> и <b><i>inactive</i></b>.</span>
      <p>
        <b><i>disabled</i></b> используется, когда пользователь не может перейти к следующему шагу, пока не совершит
        определенное действие, <br> а <b><i>inactive</i></b> - для кнопки, нажатие на которую в принципе не может быть
        выполнено.
      </p>
    </ng-template>
    <div class="column">
      <div class="flex-gap">
        <hse-button [disabled]="true">Disabled</hse-button>
        <hse-button [inactive]="true">Inactive</hse-button>
      </div>
      <div class="flex-gap">
        <hse-button-group [buttons]="disabledButtons"></hse-button-group>
      </div>
      <div class="flex-gap">
        <hse-icon-button iconName="add" [disabled]="true" [variant]="variants[0]"></hse-icon-button>
        <hse-icon-button iconName="add" [inactive]="true" [variant]="variants[0]"></hse-icon-button>
        <hse-icon-button iconName="add" [disabled]="true" [variant]="variants[1]"></hse-icon-button>
        <hse-icon-button iconName="add" [inactive]="true" [variant]="variants[1]"></hse-icon-button>
        <hse-icon-button iconName="add" [disabled]="true" [variant]="variants[2]"></hse-icon-button>
        <hse-icon-button iconName="add" [inactive]="true" [variant]="variants[2]"></hse-icon-button>
      </div>
    </div>
  </app-component-preview>
</app-page-content>

