<app-page-header pageTitle="Типографика">
  <pre>К тегам h1...h6 при добавлении класса <b>hse-heading</b> будет применяться заготовленная стилизация</pre>
</app-page-header>
<app-page-content>
  <h1 class="hse-heading">Заголовок 1</h1>
  <h2 class="hse-heading">Заголовок 2</h2>
  <h3 class="hse-heading">Заголовок 3</h3>
  <h4 class="hse-heading">Заголовок 4</h4>
  <h5 class="hse-heading">Заголовок 5</h5>
  <h6 class="hse-heading">Заголовок 6</h6>
</app-page-content>
