@mixin checkbox-style {
  $checkboxActiveState: map_get($-checkbox-states, active);
  $checkboxDefaultState: map_get($-checkbox-states, default);
  $checkboxDisabledState: map_get($-checkbox-states, disabled);
  $checkboxErrorState: map_get($-checkbox-states, error);
  $switchActiveState: map_get($-switch-states, active);
  $switchDefaultState: map_get($-switch-states, default);
  $switchDisabledState: map_get($-switch-states, disabled);
  $switchErrorState: map_get($-switch-states, error);

  @include hse-checkbox($checkboxActiveState, $checkboxDefaultState, $checkboxDisabledState, $checkboxErrorState);
  @include hse-switch($switchActiveState, $switchDefaultState, $switchDisabledState, $switchErrorState);
}
@mixin hse-checkbox($active, $default, $disabled, $error) {
  .hse-checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &__input {
      display: none;

      & + .hse-checkbox__label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        user-select: none;

        &::before {
          background-color: map_get($default, bg);
          border: 1px solid map_get($default, border);
          border-radius: 4px;
          color: map_get($default, color);
          content: '';
          margin: 0 0.5rem 0 0;
        }
      }

      &:not(:disabled) + .hse-checkbox__label:hover {
        cursor: pointer;
      }

      &:disabled + .hse-checkbox__label {
        color: map_get($disabled, color);

        &:hover {
          cursor: default;
        }
      }

      &:checked:disabled + .hse-checkbox__label::before,
      &:not(:checked):disabled + .hse-checkbox__label::before {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        color: map_get($disabled, color);
      }

      &_checked {
        position: absolute;
        left: 1px;
        border-radius: 4px;
        cursor: pointer;
        z-index: 2;
      }

      &_disabled {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        color: map_get($disabled, color);
        pointer-events: none;
      }
    }
  }

  @include hse-checkbox-style($active, $error);
  @include hse-checkbox-sizes($-checkbox-sizes);
}
@mixin hse-checkbox-style($active, $error) {
  .hse-checkbox .hse-checkbox__input {
    &:not(:disabled):checked + .hse-checkbox__label::before {
      background-color: map_get($active, bg);
      border-color: map_get($active, border);

      &:hover {
        background-color: map_get($active, bg-hover);
      }
    }

    &:not(:disabled) + .hse-checkbox__label {
      &:hover {
        cursor: pointer;

        &::before {
          border-color: map_get($active, border);
        }
      }
    }

    &_checked:not(.hse-checkbox__input_disabled) {
      color: map_get($active, color);

      &:hover {
        background-color: map_get($active, bg-hover);
      }
    }
  }

  .hse-checkbox.hse-checkbox_invalid .hse-checkbox__input {
    &:not(:disabled, :checked) + .hse-checkbox__label {
      &::before {
        border-color: map_get($error, border);
      }

      &:hover {
        cursor: pointer;

        &::before {
          border-color: map_get($error, border);
        }
      }
    }
  }
}
@mixin hse-checkbox-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-checkbox_#{$size} .hse-checkbox__label::before,
    .hse-checkbox_#{$size} .hse-checkbox__input_checked {
      height: $value;
      width: $value;
    }

    @if ($size == 'sm') {
      .hse-checkbox_sm .hse-checkbox__input_checked {
        top: 2px;
      }

      .hse-checkbox_sm .hse-checkbox__label {
        font-size: 0.875rem;
      }
    }
  }
}
@mixin hse-switch($active, $default, $disabled, $error) {
  .hse-switch {
    display: flex;
    align-items: center;

    &__input {
      position: relative;
      appearance: none;
      outline: none;
      background-color: map_get($default, bg);
      border: 1px solid map_get($default, border);
      border-radius: 20px;
      margin: 0;

      &::before {
        position: absolute;
        top: 2px;
        left: 3px;
        content: '';
        background-color: hse-color(base, white);
        border-radius: 50%;
        transition: 0.3s ease-in-out;
      }

      &:not(:disabled):hover {
        background-color: map_get($default, bg-hover);
        border-color: map_get($default, border-hover);
        cursor: pointer;

        & ~ .hse-switch__label {
          cursor: pointer;
        }
      }

      &:not(:checked):disabled {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        cursor: default;

        &::before {
          background-color: hse-color(base, white);
          cursor: default;
        }

        & + .hse-switch__label {
          color: map_get($disabled, color);
          cursor: default;
        }
      }

      &:checked:disabled {
        opacity: 0.45;
        cursor: default;

        & + .hse-switch__label {
          color: map_get($disabled, color);
          cursor: default;
        }
      }
    }

    &__label {
      margin: 0 0 0 0.75rem;
    }
  }

  @include hse-switch-style($active, $error);
  @include hse-switch-sizes($-switch-sizes);
}
@mixin hse-switch-style($active, $error) {
  .hse-switch .hse-switch__input {
    &:not(:disabled):checked {
      &:hover {
        background-color: map_get($active, bg-hover);
        border-color: map_get($active, border-hover);
      }

      &::before {
        background-color: hse-color(base, white);
      }
    }

    &:checked {
      background-color: map_get($active, bg);
      border-color: map_get($active, border);
    }
  }

  .hse-switch.hse-switch_invalid .hse-switch__input {
    &:not(:disabled, :checked) {
      border-color: map_get($error, border);

      &:hover {
        border-color: map_get($error, border);
      }
    }
  }
}
@mixin hse-switch-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-switch_#{$size} {
      height: $value;
    }

    .hse-switch_#{$size} .hse-switch__input {
      height: $value;
      width: calc(2 * #{$value});

      &:checked::before {
        left: calc(1.2 * #{$value});
      }
    }

    @if ($size == 'lg') {
      .hse-switch_lg .hse-switch__input {
        &::before {
          height: calc(0.75 * #{$value});
          width: calc(0.75 * #{$value});
        }

        &:checked::before {
          left: 24px;
        }
      }
    }

    @if ($size == 'md') {
      .hse-switch_md .hse-switch__input {
        &::before {
          height: calc(0.7 * #{$value});
          width: calc(0.7 * #{$value});
        }

        &:checked::before {
          left: 21px;
        }
      }
    }

    @if ($size == 'sm') {
      .hse-switch_sm .hse-switch__input {
        &::before {
          height: calc(0.625 * #{$value});
          width: calc(0.625 * #{$value});
        }

        &:checked::before {
          left: 17px;
        }
      }

      .hse-switch_sm .hse-switch__label {
        font-size: 0.875rem;
      }
    }
  }
}
