$-checkbox-sizes: map_get($-checkbox-default-props, sizes);
$-checkbox-states: map_get($-checkbox-default-props, states);

$-switch-sizes: map_get($-switch-default-props, sizes);
$-switch-states: map_get($-switch-default-props, states);
@mixin checkbox-theme($theme) {
  $checkbox-sizes: map_get($theme, sizes);
  $checkbox-states: map_get($theme, states);

  $switch-sizes: map_get($theme, switch-sizes);
  $switch-states: map_get($theme, switch-states);

  @if ($checkbox-sizes) {
    $-checkbox-sizes: $checkbox-sizes !global;
  }

  @if ($checkbox-states) {
    $-checkbox-states: $checkbox-states !global;
  }

  @if ($switch-sizes) {
    $-switch-sizes: $switch-sizes !global;
  }

  @if ($switch-states) {
    $-switch-states: $switch-states !global;
  }
}
