<app-page-header pageTitle="Tabs">
  <pre>@import {{ '{ HseTabsModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>HseTabsModule предоставляет доступ к компоненту <i>hse-tabs</i></span>
    </ng-template>
    <hse-tabs [tabs]="tabs"></hse-tabs>
  </app-component-preview>
  <app-component-preview heading="Варианты табов" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>Компонент <i>hse-tabs</i> может быть представлен в следующих вариантах: <i></i></span>
    </ng-template>
    <div class="column">
      <hse-tabs [tabs]="tabs"></hse-tabs>
      <hse-tabs [tabs]="tabs" [variant]="lineFilled"></hse-tabs>
      <hse-tabs [tabs]="tabs" [variant]="lineOutlined"></hse-tabs>
      <hse-tabs [tabs]="tabs" [variant]="square"></hse-tabs>
      <hse-tabs [tabs]="tabs" [variant]="round"></hse-tabs>
    </div>
  </app-component-preview>
  <app-component-preview heading="Размер табов" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Для указания размера необходимо использовать опцию <b><i>size</i></b> (тип значения HseUiSizes).
        HseUiSizes имеет значения <b><i>SMALL</i></b>, <b><i>MEDIUM</i></b>, <b><i>LARGE</i></b>.
        По умолчанию устанавливается значение <b><i>MEDIUM</i></b>.
      </span>
    </ng-template>
    <div class="column">
      <hse-radio-group [collection]="radioButtons" [(model)]="size"></hse-radio-group>

      <hse-tabs [tabs]="tabs" [size]="size"></hse-tabs>
      <hse-tabs [tabs]="tabs" [size]="size" [variant]="lineFilled"></hse-tabs>
      <hse-tabs [tabs]="tabs" [size]="size" [variant]="lineOutlined"></hse-tabs>
      <hse-tabs [tabs]="tabs" [size]="size" [variant]="square"></hse-tabs>
      <hse-tabs [tabs]="tabs" [size]="size" [variant]="round"></hse-tabs>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>Чтобы установить отключенное состояние для таба(-ов) необходимо передать в него опцию <b>disabled</b></span>
    </ng-template>
    <hse-tabs [tabs]="tabsWithDisabled"></hse-tabs>
  </app-component-preview>
  <app-component-preview heading="Состояние ошибки" [description]="descriptionTmpl5">
    <ng-template #descriptionTmpl5>
      <span>Чтобы установить для таба(-ов) состояние ошибки необходимо передать в него опцию <b>hasError</b></span>
    </ng-template>
    <hse-tabs [tabs]="tabsWithError"></hse-tabs>
  </app-component-preview>
</app-page-content>
