<app-page-header pageTitle="Textarea">
  <pre>@import {{ '{ HseTextareaModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>HseTextareaModule предоставляет доступ к компоненту <i>hse-textarea</i></span>
    </ng-template>
    <hse-textarea [(model)]="model1" [placeholder]="placeholder"></hse-textarea>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние">
    <hse-textarea [(model)]="model1" [disabled]="true" [placeholder]="placeholder"></hse-textarea>
  </app-component-preview>
  <app-component-preview heading="Состояние ошибки" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>Добавить состояние ошибки можно с помощью опции <b><i>hasError</i></b> (тип значения boolean)</span>
    </ng-template>
    <div class="column">
      <hse-switch [(model)]="hasError">Textarea {{ hasError ? 'with' : 'without' }} error state</hse-switch>
      <hse-textarea [(model)]="model1" [hasError]="hasError" [placeholder]="placeholder"></hse-textarea>
    </div>
  </app-component-preview>
  <app-component-preview heading="Максимальное количество символов" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Добавить лимит количества символов можно с помощью опции <b><i>maxLength</i></b> (тип значения number)
      </span>
    </ng-template>
    <div class="column">
      <hse-textarea
        [(model)]="model1"
        [maxLength]="1024"
        [placeholder]="placeholder"
      ></hse-textarea>
    </div>
  </app-component-preview>
  <app-component-preview heading="Директива HseTextareaAutosize" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>
        В HseTextareaModule помимо компонента содержится директива <b><i>hseTextareaAutoSize</i></b>. Она автоматически
        увеличивает видимое количество строк в компоненте <i>hse-textarea</i> в зависимости от содержимого модели.
      </span>
      <p>
        У директивы имеются опции <i>minRows</i> и <i>maxRows</i>. Опция <i>minRows</i> устанавливает минимальное
        количество видимых строк, а <i>maxRows</i> - максимальное.
      </p>
      <p>
        Для активации директивы необходимо передать в компонент <i>hse-textarea</i> опцию <b><i>autosize</i></b>
        (тип значения boolean).
      </p>
    </ng-template>
    <hse-textarea [(model)]="model1" [autosize]="true" [placeholder]="placeholder"></hse-textarea>
  </app-component-preview>
  <app-component-preview heading="Добавление лэйбла" [description]="descriptionTmpl5">
    <ng-template #descriptionTmpl5>
      <span>
        В <i>hse-textarea</i> можно добавить лэйбл, используя опцию <b><i>label</i></b>
        (тип значения string | TemplateRef&lt;void&gt;)
      </span>
    </ng-template>
    <ng-template #labelTmpl>
      <span>Label <sup class="required">*</sup></span>
    </ng-template>
    <div class="column">
      <hse-textarea [(model)]="model1" label="Label" [placeholder]="placeholder"></hse-textarea>
      <hse-textarea [(model)]="model1" [label]="labelTmpl" [placeholder]="placeholder"></hse-textarea>
    </div>
  </app-component-preview>
</app-page-content>
