$sm: 8px;
$md: 24px;
$lg: 16px 32px;

$-table-default-props: (
  padding: (
    sm: $sm,
    md: $md,
    lg: $lg
  ),
  padding-screen: (
    small: $sm,
    handset: $sm,
    tablet: $md,
    web: $lg,
    web-large: $lg
  ),
  sizes: (
  ),
  states: (
    default: (
      bg-header: hse-color(brand, brand-5),
      bg-row-odd: hse-color(base, white),
      bg-row-even: hse-color(background, gray-2),
      header-color: hse-color(gray, dusk-1),
      body-color: hse-color(base, black),
      border: hse-color(gray, morn-2)
    )
  )
);
