@mixin table-style {
  $tableDefaultState: map_get($-table-states, default);

  hse-table {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 100%;
  }

  .hse-sticky-anchor {
    position: absolute;
  }

  .hse-table__fixed__wrapper {
    position: absolute;
    z-index: 999;
    overflow: hidden;

    border: 1px solid map_get($tableDefaultState, border);
    border-bottom: none;
    border-radius: 20px 0 0 20px;
  }

  .hse-table {
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid map_get($tableDefaultState, border);
    border-radius: 20px;

    &.shift-buttons {
      overflow: hidden;
    }
  }

  .table-header {
    border-bottom: 1px solid map_get($tableDefaultState, border);

    .shift-button {
      position: absolute;
      height: 100%;
      width: 20px;
      right: 0;

      border: none;
      border-left: 1px solid map_get($tableDefaultState, border);
      background: map_get($tableDefaultState, bg-header);

      hse-icon {
        display: block;
        width: 16px;
        margin-left: -4px;
        color: map_get($tableDefaultState, header-color);
      }
    }
  }

  .shift-button-wrapper {
    position: absolute !important;
    right: 0;
    z-index: 999 !important;

    > .shift-button {
      border-top: 1px solid map_get($tableDefaultState, border);
      border-right: 1px solid map_get($tableDefaultState, border);
    }

    &[hidden] {
      visibility: hidden;
    }

    &.left {
      left: 0;
      right: initial;
      width: 20px
    }
  }

  .grid {
    display: grid !important;
    position: relative;
    z-index: 10;
    grid-gap: 1px;
    background: map_get($tableDefaultState, border);
  }

  @include table-body-structure();
  @include table-body-style($tableDefaultState);

  @include table-header-structure();
  @include table-header-style($tableDefaultState);
}



@mixin table-body-structure() {
  hse-table-row {
    display: contents;
  }

  .hstr {
    display: contents;

    &.grid {
      height: 100%;
      overflow: hidden;
    }

    &__cell {
      @include screen_property(padding, $-table-padding-screen-map);

      &.has-nested-child {
        padding: 0 !important;
      }
    }
  }
}

@mixin table-body-style($theme) {

  hse-table-row:nth-child(even) .hstr__cell {
    background: #F8F9FB;
  }

  .hstr {

    &__cell {
      background: map_get($theme, bg-row-odd);

      &__value {
        color: map_get($theme, black);
      }
    }
  }
}

@mixin table-header-structure() {
  hse-table-header {
    display: contents;
  }

  .hsth {
    display: contents;

    &.grid {
      margin-top: 16px;
      overflow: hidden;
    }

    &__column {
      &:not(.has-nested-child) {
        display: flex;
        justify-content: space-between;
      }

      &__checkbox {
        display: block !important;
      }

      &:hover {
        .hsth__column__settings {
          display: block;
        }
      }

      &__settings {
        cursor: pointer;

        &:not(.is-open) {
          display: none;
        }

        &__filters {
          padding: 0 16px;
        }
      }

      @include screen_property(padding, $-table-padding-screen-map);

      &__value {

      }

      &.has-nested-child {
        padding: 16px 0 0 !important;

        > .hsth__column__value {
          margin-left: 30px;
        }
      }
    }
  }

  .hse-table-column-settings {
    padding: 16px;

    &__option {
      .mat-menu-item {
       height: auto;
       line-height: inherit;
      }

      .mat-menu-trigger {
        display: flex;
        align-items: center;
        padding-right: 16px;

        .mat-menu-submenu-icon {
          display: none;
        }
      }

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}

@mixin table-header-style($theme) {
  .hsth {

    &.grid {
      > .hsth__column {
        border-top: 1px solid map_get($theme, border);
      }
    }

    &__column {
      background: map_get($theme, bg-header);

      &__value {
        color: map_get($theme, header-color);
        font-weight: 600;
      }

      &__settings {
        color: map_get($theme, header-color);

        &__menu-override {
          max-width: none !important;
          min-width: 60px !important;
          overflow: hidden !important;
          background-color: hse-color(base, white);
          box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
        }
      }
    }
  }
}



