$-table-states: map_get($-table-default-props, states);
$-table-padding: map_get($-table-default-props, padding);
$-table-padding-screen-map: map_get($-table-default-props, padding-screen);

@mixin table-theme($theme) {
  $table-states: map_get($theme, states);
  $-table-padding: map_get($theme, padding);
  $-table-padding-screen-map: map_get($-table-default-props, padding-screen);

  @if ($table-states) {
    $-table-states: $table-states !global;
  }

  @if ($-table-padding) {
    $-table-padding: $-table-padding !global;
  }

  @if ($-table-padding-screen-map) {
    $-table-padding-screen-map: $-table-padding-screen-map !global;
  }
}
