<app-page-header pageTitle="Pagination">
  <pre>@import {{ '{ HsePaginationModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HsePaginationModule предоставляет доступ к компоненту <i>hse-pagination</i>
      </span>
      <p>
        Компонент имеет следующие опции <b><i>currentPage</i></b> и <b><i>totalPages</i></b>.
      </p>
      <p>
        <b><i>currentPage</i></b> - номер текущей страницы (тип значения number). Значение по умолчанию - 1.
        <br>
        <b><i>totalPages</i></b> - общее количество страниц в ответе (тип значения number). Значение по умолчанию - 1.
      </p>
    </ng-template>
    <hse-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (onChangePage)="changePage($event)"
    ></hse-pagination>
  </app-component-preview>
</app-page-content>
