@mixin heading-style {
  .hse-heading {
    color: currentColor;
    font-family: $-heading-font-family;
    font-weight: normal;
    margin: $-heading-margin;
  }

  @include heading-size($-heading-sizes);
}
@mixin heading-size($sizes) {
  @each $tag, $size in $sizes {
    #{$tag}.hse-heading {
      font-size: $size;
    }
  }
}
