@mixin heading-theme($theme) {
  $heading-font-family: map_get($theme, font-family);
  $heading-margin: map_get($theme, margin);
  $heading-sizes: map_get($theme, sizes);

  @if ($heading-margin) {
    $-heading-margin: $heading-margin !global;
  }

  @if ($heading-font-family) {
    $-heading-font-family: $heading-font-family !global;
  }

  @if ($heading-sizes) {
    $-heading-sizes: $heading-sizes !global;
  }
}
