<app-page-header pageTitle="Table">
  <pre>@import {{ '{ HseTableModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <!--SIMPLE TABLE-->
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseTableModule предоставляет доступ к следующим компонентам: <i>hse-table</i>
      </span>
    </ng-template>
    <div class="column">
      <div class="table-container" #simpleContainer>
        <hse-table [config]="simpleConfig" [rowsData]="rowsDataCompact"></hse-table>
      </div>

    </div>
  </app-component-preview>
  <!--/SIMPLE TABLE-->

  <!--STICKY HEADER-->
  <app-component-preview heading="Липкая шапка" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <div>
        Липкая шапка таблицы настраивается опцией <b><i>stickyHeader</i></b>
      </div>
      <div>
        Для корретной работы необходимо указать родительский элемент <b><i>scrollableParent</i></b> к которому будет привязана шапка таблицы
      </div>

      <div><pre>{{stickyHeaderExample}}</pre></div>

    </ng-template>
    <div class="column">
      <div class="table-container" #stickyHeaderContainer>
        <hse-table [config]="stickyHeaderConfig" [rowsData]="rowsDataCompact"></hse-table>
      </div>

    </div>
  </app-component-preview>
  <!--/STICKY HEADER-->



  <!--SHIFT BUTTONS-->
  <app-component-preview heading="Кнопки для листания таблицы по горизонтали" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <div>
        Если контент таблицы не помещается на странице по ширине, можно указать флаг <b><i>shiftButtons: true</i></b> для отображения кнопок
        перелистывания таблицы по горизонтали, вместо стандартного скролл-бара
      </div>

      <div><pre>{{shiftButtonsExample}}</pre></div>

    </ng-template>
    <div class="column" style="width: 400px">
      <div class="table-container" #shiftButtonsContainer>
        <hse-table [config]="shiftButtonsConfig" [rowsData]="rowsDataCompact"></hse-table>
      </div>

    </div>
  </app-component-preview>
  <!--/SHIFT BUTTONS-->

  <!--FIXED COLUMN-->
  <app-component-preview heading="Фиксированные колонки" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <div>
        Фиксированные колонки настраиваются добавлением флага <b><i>fixed: true</i></b> в конфигурационном объекте колонки.
        <b>Важно!</b>
        Для корректного отображения для колонки необходимо так же указать фиксированную ширину
      </div>

      <div><pre>{{fixedColumnExample}}</pre></div>

    </ng-template>
    <div class="column" style="width: 400px">
      <div class="table-container" #fixedColumnContainer>
        <hse-table [config]="fixedColumnConfig" [rowsData]="rowsDataCompact"></hse-table>
      </div>
    </div>
  </app-component-preview>
  <!--/FIXED COLUMN-->

  <!--NESTED COLUMNS-->
  <app-component-preview heading="Дочерние колонки" [description]="descriptionTmpl5">
    <ng-template #descriptionTmpl5>
      <div>
        Колонки таблицы могут иметь вложенную структуру, настраиваемую посредством свойства <b><i>childColumns: HseTableColumnConfig[]</i></b>
      </div>
      <div><pre>{{nestedColumnsExample}}</pre></div>
    </ng-template>

    <div class="column">
      <div class="table-container" #nestedColumnsContainer>
        <hse-table [config]="nestedColumnsConfig" [rowsData]="rowsDataNested"></hse-table>
      </div>

    </div>
  </app-component-preview>
  <!--/NESTED COLUMNS-->

  <!--COLUMN SETTINGS-->
  <app-component-preview heading="Дополнительные настройки колонок" [description]="descriptionTmpl6">
    <ng-template #descriptionTmpl6>
      <div>
         Для колонок доступен ряд дополнительных свойств для реализации функций выбора, фильтрации и посредством свойства
        <b><i>settings</i></b>
      </div>
      <div><pre>{{columnSettingsExample}}</pre></div>
    </ng-template>

    <div class="column">
      <div class="table-container" #columnSettingsContainer>
        <hse-table [config]="columnSettingsConfig" [rowsData]="rowsDataCompact"></hse-table>
      </div>

    </div>
  </app-component-preview>
  <!--/COLUMN SETTINGS-->

  <!--CUSTOM TEMPLATES-->
  <app-component-preview heading="Встраивание шаблонов в таблицу" [description]="descriptionTmpl7">
    <ng-template #descriptionTmpl7>
      <div>
        В качестве значений колонок можно передать ссылки кастомные шаблоны с помощию свойства <b><i>template</i></b>
      </div>
      <div><pre>{{customTemplateExample}}</pre></div>
    </ng-template>

    <div class="column">
      <div class="table-container" #customTemplateContainer>
        <hse-table [config]="customTemplateConfig" [rowsData]="rowsDataCompact"></hse-table>
      </div>

    </div>
  </app-component-preview>
  <!--/CUSTOM TEMPLATES-->

  <!--BIG CONFIG DEMO-->
  <app-component-preview heading="Пример большой таблицы со множеством настроек" [description]="descriptionTmpl8">
    <ng-template #descriptionTmpl8>
      <div><pre>{{bigConfigExample}}</pre></div>
    </ng-template>

    <div class="column">
      <div class="table-container" style="height: 700px;" #bigConfigContainer>
        <hse-table [config]="bigConfig" [rowsData]="bigRowsData"></hse-table>
      </div>

    </div>
  </app-component-preview>
  <!--/BIG CONFIG DEMO-->

</app-page-content>

<ng-template #buttonColumnTmpl let-item>
  <div style="display: flex; justify-content: center">
    <hse-button>custom button</hse-button>
  </div>
</ng-template>

<ng-template #filterTemplate let-item>
  <h3>custom filter template</h3>
  <span>{{item.filter.type}}</span>
</ng-template>

