$-textarea-default-props: (
  states: (
    default: (
      bg: hse-color(base, white),
      bg-hover: hse-color(base, white),
      border: hse-color(gray, morn-1),
      border-hover: hse-color(brand, brand-1),
      color: hse-color(gray, dusk-1),
    ),
    disabled: (
      bg: hse-color(gray, morn-3),
      bg-hover: hse-color(gray, morn-3),
      border: hse-color(gray, morn-1),
      border-hover: hse-color(gray, morn-1),
      color: hse-color(gray, dusk-4),
    ),
    error: (
      bg: hse-color(system, error),
      bg-hover: hse-color(system, error),
      border: hse-color(system, error),
      border-hover: hse-color(system, error-dark),
      color: hse-color(base, white),
    ),
  ),
);
