@mixin textarea-style {
  $textareaDefaultState: map_get($-textarea-states, default);
  $textareaDisabledState: map_get($-textarea-states, disabled);
  $textareaErrorState: map_get($-textarea-states, error);

  .hse-textarea {
    display: flex;
    flex-direction: column;

    &__label {
      display: inline-block;
      margin: 0 0 0.5rem;
      font-size: 0.875rem;

      & > * {
        color: inherit;
        font-size: inherit;
      }
    }

    &__textarea-wrapper {
      position: relative;
    }

    &__textarea {
      border: 1px solid;
      border-radius: 4px;
      font-family: $-font-family;
      line-height: 1.25rem;
      padding: 0.75rem;
      outline: none;
      resize: none;
      width: 100%;

      &::placeholder {
        letter-spacing: normal;
      }

      &_with-counter {
        padding: 0.75rem 0.75rem 1.5rem;
        scroll-padding-bottom: 1.5rem;
      }
    }

    &__characters {
      position: absolute;
      font-size: 0.75rem;
      left: 0.75rem;
      bottom: 0.375rem;
      padding: 0.25rem 0;
      width: calc(100% - 2 * 0.75rem);
    }
  }

  @include hse-textarea-style($textareaDefaultState, $textareaDisabledState, $textareaErrorState);
}
@mixin hse-textarea-style($default, $disabled, $error) {
  .hse-textarea {
    &__label {
      color: map_get($default, color);
    }

    &__textarea {
      &:not(:disabled) {
        border-color: map_get($default, border);

        &:focus,
        &:hover {
          border-color: map_get($default, border-hover);
        }

        &::placeholder {
          color: map_get($default, color);
        }

        & + .hse-textarea__characters {
          background-color: hse-color(base, white);
          color: hse-color(grey, dusk-3);
        }
      }

      &:disabled {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        color: map_get($disabled, color);
        cursor: default;

        & + .hse-textarea__characters,
        &::placeholder {
          color: map_get($disabled, color);
        }

        & + .hse-textarea__characters {
          background-color: map_get($disabled, bg);
        }
      }
    }
  }

  .hse-textarea.hse-textarea_invalid {
    & .hse-textarea__textarea {
      border-color: map_get($error, border);

      &:hover {
        border-color: map_get($error, border-hover);
      }
    }
  }
}
