$-textarea-states: map_get($-textarea-default-props, states);
@mixin textarea-theme($theme) {
  $textarea-states: map_get($theme, states);

  @if ($textarea-states) {
    $-textarea-states: $textarea-states !global;
  }
}
