@import 'functions';
@import 'palette';

.success::ng-deep .hse-button__button {
  border-color: hse-color(system, success);
  background-color: hse-color(system, success);

  &:hover {
    border-color: hse-color(system, success-deepdark);
    background-color: hse-color(system, success-deepdark);
  }
}

.warning::ng-deep .hse-button__button {
  border-color: hse-color(system, warning);
  background-color: hse-color(system, warning);

  &:hover {
    border-color: hse-color(system, warning-deepdark);
    background-color: hse-color(system, warning-deepdark);
  }
}

.error::ng-deep .hse-button__button {
  border-color: hse-color(system, error);
  background-color: hse-color(system, error);

  &:hover {
    border-color: hse-color(system, error-deepdark);
    background-color: hse-color(system, error-deepdark);
  }
}
