<app-page-header pageTitle="Alert">
  <pre>@import {{ '{ HseAlertModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseAlertModule предоставляет доступ к компоненту <u><i>hse-alerts</i></u>, с помощью которого будут
        транслироваться уведомления.
      </span>
      <p>
        Чтобы создать уведомление, необходимо вызвать метод <b>addAlert</b> сервиса <i>HseAlertService</i> и передать
        как параметр объект, имеющий тип <b>HseAlertProps</b>
      </p>
    </ng-template>
    <hse-button (onClick)="showAlert()">Show alert</hse-button>
  </app-component-preview>
  <app-component-preview heading="Содержание уведомлений" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>
        При создании уведомлений в объекте, имеющий тип <b>HseAlertProps</b> всегда необходимо передавать
        заголовок (поле <b><i>title</i></b>).
      </span>
      <p>
        Если в уведомлении нужно указать более подробную информацию, можно воспользоваться опциональным полем
        description (тип string | TemplateRef&lt;void&gt;)
      </p>
    </ng-template>
    <ng-template #descriptionTmpl>
      <i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</i>
      <blockquote>
        Google — это первая по популярности система в интернете поисковая система, принадлежащая корпорации Google Inc.
      </blockquote>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad expedita non reprehenderit voluptatibus. Ex,
        fugiat harum iure necessitatibus numquam officia placeat repudiandae voluptas. Nemo, repellendus!
      </p>
    </ng-template>
    <div class="flex-gap">
      <hse-button (onClick)="showAlert()">Show simple alert</hse-button>
      <hse-button (onClick)="showAlertWithDescription()">Show alert with string description</hse-button>
      <hse-button (onClick)="showAlertWithDescription(true)">Show alert with template description</hse-button>
    </div>
  </app-component-preview>
  <app-component-preview heading="Уведомления с действиями" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      В уведомление можно передать массив callback'ов для совершения каких-либо действий. При этом уведомление будет
      ждать действия пользователя (не будет автоматически скрываться). Обратите внимание на то, что при клике на кнопку
      действия уведомление будет автоматически скрываться.
    </ng-template>
    <hse-button (onClick)="showAlertWithActions()">Show alert with actions</hse-button>
  </app-component-preview>
  <app-component-preview heading="Варианты alert'ов" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      <span>
        В HseAlertModule предусмотрены 4 варианта отрисовки alert'ов, представленные в виде enum'а
        <b>HseAlertVariants</b>: <i>HseAlertVariants.INFO</i>, <i>HseAlertVariants.SUCCESS</i>,
        <i>HseAlertVariants.WARNING</i>, <i>HseAlertVariants.ERROR</i>.
      </span>
      <p>По умолчанию используется вариант <i>HseAlertVariants.INFO</i></p>
    </ng-template>
    <div class="flex-gap">
      <hse-button (onClick)="showAlert()">Show info alert</hse-button>
      <hse-button class="success" (onClick)="showAlert(HseAlertVariants.SUCCESS)">Show success alert</hse-button>
      <hse-button class="warning" (onClick)="showAlert(HseAlertVariants.WARNING)">Show warning alert</hse-button>
      <hse-button class="error" (onClick)="showAlert(HseAlertVariants.ERROR)">Show error alert</hse-button>
    </div>
  </app-component-preview>
  <app-component-preview heading="Иконки уведомлений" [description]="descriptionTmpl5">
    <ng-template #descriptionTmpl5>
      <span>Для смены иконки в уведомлении достаточно передать ее название в поле <i>icon</i></span>
    </ng-template>
    <hse-button (onClick)="showAlertWithAnotherIcon()">Show alert with another icon</hse-button>
  </app-component-preview>
</app-page-content>
