<app-page-header pageTitle="DatePicker">
  <pre>@import {{ '{ HseDatePickerModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Компоненты модуля" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <span>
        HseDatePickerModule предоставляет доступ к следующим компонентам: <i>hse-date-picker</i>,
        <i>hse-time-picker</i>, <i>hse-date-time-picker</i>, <i>hse-range-date-picker</i>, <i>hse-range-time-picker</i>
      </span>
    </ng-template>
    <div class="column">
      <hse-date-picker
        [model]="datePickerModel"
      ></hse-date-picker>
      <hse-time-picker
        [clearable]="true"
        [label]="label"
        [placeholder]="timePlaceholder"
        (modelChange)="changeTime($event)"
      ></hse-time-picker>
      <hse-range-date-picker
        startDateLabel="Дата начала"
        startDatePlaceholder="дд.мм.гггг"
        endDateLabel="Дата окончания"
        endDatePlaceholder="дд.мм.гггг"
        [direction]="rowDirection"
      ></hse-range-date-picker>

      <hse-range-time-picker
        startTimeLabel="Время начала"
        startTimePlaceholder="00:00"
        endTimeLabel="Время окончания"
        endTimePlaceholder="00:00"
        [hasError]="timeRangeHasError"
        [model]="timeRangeModel"
        (modelChange)="changeTimeRange($event)"
      ></hse-range-time-picker>

      <hse-date-time-picker
        dateLabel="Дата начала"
        datePlaceholder="дд.мм.гггг"
        timeLabel="Время начала"
        timePlaceholder="00:00"
        [model]="dateTimeModel"
        (modelChange)="changeDateTime($event)"
      ></hse-date-time-picker>
    </div>
  </app-component-preview>
  <app-component-preview heading="Отключенное состояние">
    <div class="column">
      <hse-date-picker [disabled]="true" [label]="label" [placeholder]="datePlaceholder"></hse-date-picker>
      <hse-time-picker [disabled]="true" [label]="label" [placeholder]="timePlaceholder"></hse-time-picker>
      <hse-range-date-picker
        [disabled]="true"
        [startDateLabel]="label"
        [startDatePlaceholder]="datePlaceholder"
        [endDateLabel]="label"
        [endDatePlaceholder]="datePlaceholder"
      ></hse-range-date-picker>
      <hse-range-time-picker
        [disabled]="true"
        [startTimeLabel]="label"
        [startTimePlaceholder]="timePlaceholder"
        [endTimeLabel]="label"
        [endTimePlaceholder]="timePlaceholder"
      ></hse-range-time-picker>
      <hse-date-time-picker
        [disabled]="true"
        [dateLabel]="label"
        [datePlaceholder]="datePlaceholder"
        [timeLabel]="label"
        [timePlaceholder]="timePlaceholder"
      ></hse-date-time-picker>
    </div>
  </app-component-preview>
  <app-component-preview heading="Состояние ошибки" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <span>Добавить состояние ошибки можно с помощью опции <b><i>hasError</i></b> (тип значения boolean)</span>
    </ng-template>
    <div class="column">
      <hse-date-picker [hasError]="true" [label]="label" [placeholder]="datePlaceholder"></hse-date-picker>
      <hse-time-picker [hasError]="true" [label]="label" [placeholder]="timePlaceholder"></hse-time-picker>
      <hse-range-date-picker
        [hasError]="true"
        [startDateLabel]="label"
        [startDatePlaceholder]="datePlaceholder"
        [endDateLabel]="label"
        [endDatePlaceholder]="datePlaceholder"
      ></hse-range-date-picker>
      <hse-range-time-picker
        [hasError]="true"
        [startTimeLabel]="label"
        [startTimePlaceholder]="timePlaceholder"
        [endTimeLabel]="label"
        [endTimePlaceholder]="timePlaceholder"
      ></hse-range-time-picker>
      <hse-date-time-picker
        [hasError]="true"
        [dateLabel]="label"
        [datePlaceholder]="datePlaceholder"
        [timeLabel]="label"
        [timePlaceholder]="timePlaceholder"
      ></hse-date-time-picker>
    </div>
  </app-component-preview>
  <app-component-preview heading="Компонент hse-calendar" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>
      <span>
        Для выбора дат в компонентах <i>hse-date-picker</i>, <i>hse-range-date-picker</i>, <i>hse-date-time-picker</i>
        испольуется компонент <b>hse-calendar</b>. В данном компоненте есть ряд следующих опций:
      </span>
      <ol>
        <li><b>dateStart</b> - дата начала (тип значения DateTime). Значение по умолчанию <b>null</b>;</li>
        <li><b>dateStart</b> - дата начала (тип значения DateTime). Значение по умолчанию <b>null</b>;</li>
        <li>
          <b>locale</b> - значение локали (тип значения HseDatePickerLocale). Значение по умолчанию
          <b>'ru'</b>;
        </li>
        <li>
          <b>maxDate</b> - максимальная дата, дни после которой будут недоступны для выбора (тип значения
          DateTime | null). Значение по умолчанию <b>null</b>;
        </li>
        <li>
          <b>maxYear</b> - правая граница диапазона годов для выбора (тип значения number). Значение по умолчанию
          <b>2100</b>;
        </li>
        <li>
          <b>minDate</b> - минимальная дата, дни перед которой будут недоступны для выбора (тип значения
          DateTime | null). Значение по умолчанию <b>null</b>;
        </li>
        <li>
          <b>minYear</b> - левая граница диапазона годов для выбора (тип значения number). Значение по умолчанию
          <b>2000</b>;
        </li>
        <li>
          <b>selectionMode</b> - режим выбора дат (тип значения HseDateSelectionModes). Для выбора доступны значения
          <i>HseDateSelectionModes.SINGLE</i>, <i>HseDateSelectionModes.WEEK</i>,<i>HseDateSelectionModes.RANGE</i>.
          Значение по умолчанию <b>HseDateSelectionModes.SINGLE</b>;
        </li>
      </ol>
    </ng-template>
    <hse-calendar
      [dateStart]="dateStart"
      [dateEnd]="dateEnd"
      [selectionMode]="selectionMode"
      (onChange)="changeDate($event)"
    ></hse-calendar>
  </app-component-preview>
  <app-component-preview heading="Расположение внутри компонентов" [description]="descriptionTmpl4">
    <ng-template #descriptionTmpl4>
      В компонентах <i>hse-date-time-picker</i>, <i>hse-range-date-picker</i>, <i>hse-range-time-picker</i> можно
      управлять расположением их составляющими с помощью опции <b><i>direction</i></b> (тип значения HseDirectionTypes).
      По умолчанию установлено значение <b>HseDirectionTypes.ROW</b>
    </ng-template>
    <div class="column">
      <hse-switch [(model)]="isRow">Direction: {{ isRow ? 'row' : 'column' }}</hse-switch>
      <hse-range-date-picker
        [direction]="isRow ? rowDirection : columnDirection"
        [startDateLabel]="label"
        [startDatePlaceholder]="datePlaceholder"
        [endDateLabel]="label"
        [endDatePlaceholder]="datePlaceholder"
      ></hse-range-date-picker>
      <hse-range-time-picker
        [direction]="isRow ? rowDirection : columnDirection"
        [startTimeLabel]="label"
        [startTimePlaceholder]="timePlaceholder"
        [endTimeLabel]="label"
        [endTimePlaceholder]="timePlaceholder"
      ></hse-range-time-picker>
      <hse-date-time-picker
        [direction]="isRow ? rowDirection : columnDirection"
        [dateLabel]="label"
        [datePlaceholder]="datePlaceholder"
        [timeLabel]="label"
        [timePlaceholder]="timePlaceholder"
      ></hse-date-time-picker>
    </div>
  </app-component-preview>
  <app-component-preview heading="Использование в реактивных формах" [description]="descriptionTmpl5">
    <ng-template #descriptionTmpl5>
      <span>
        Компоненты <i>hse-date-picker</i>, <i>hse-time-picker</i>, <i>hse-date-time-picker</i>,
        <i>hse-range-date-picker</i>, <i>hse-range-time-picker</i> можно использовать в реактивных формах
      </span>
    </ng-template>
    <div class="form-wrapper">
      <pre>{{ formGroup.value | json }}</pre>
      <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <hse-date-picker
            label="DatePicker"
            formControlName="date"
            placeholder="dd.mm.yyyy"
          ></hse-date-picker>
        </div>
        <div class="form-field">
          <hse-time-picker
            label="TimePicker"
            formControlName="time"
            placeholder="00:00"
          ></hse-time-picker>
        </div>
        <div class="form-field">
          <hse-range-date-picker
            startDateLabel="Start date label"
            endDateLabel="End date label"
            formControlName="dateRange"
            startDatePlaceholder="dd.mm.yyyy"
            endDatePlaceholder="dd.mm.yyyy"
          ></hse-range-date-picker>
        </div>
        <div class="form-field">
          <hse-range-time-picker
            startTimeLabel="Start time label"
            endTimeLabel="End time label"
            formControlName="timeRange"
            startTimePlaceholder="00:00"
            endTimePlaceholder="00:00"
          ></hse-range-time-picker>
        </div>
        <div class="form-field">
          <hse-date-time-picker
            dateLabel="Date label"
            datePlaceholder="dd.mm.yyyy"
            timeLabel="Time label"
            timePlaceholder="00:00"
            formControlName="dateTime"
          ></hse-date-time-picker>
        </div>
        <div class="form-field">
          <hse-button [type]="type">Submit</hse-button>
        </div>
      </form>
    </div>
  </app-component-preview>
</app-page-content>
