.form {
  display: flex;
  flex-direction: column;

  &-wrapper {
    display: flex;
    flex-direction: column;

    .form-field {
      &:not(:first-of-type) {
        margin: 1rem 0 0;
      }
    }
  }

  &-output {
    margin: 1rem 0 0;
  }
}
