<app-page-header pageTitle="FileInput">
  <pre>@import {{ '{ HseFileInputModule }' }} from '@ngx-hse-ui';</pre>
</app-page-header>
<app-page-content>
  <app-component-preview heading="Загрузка файла" [description]="descriptionTmpl1">
    <ng-template #descriptionTmpl1>
      <div>
        HseFileInputModule предоставляет доступ к следующим компонентам: <i>hse-file-input</i>
      </div>

      <div>
        Выбор файлов осуществляется при помощи выбора в диалоговом окне или посредством перетаскивания
      </div>

      <div>
        <h2>API:</h2>
        <pre>{{apiExample}}</pre>

        <h2>FileInputItem:</h2>
        <pre>{{modelDescription}}</pre>
      </div>

      <div>
        <hse-file-input [accept]="'.pdf'" [hint]="'Допустимый формат: .pdf'" (modelChange)="changeFile($event)"></hse-file-input>
      </div>
    </ng-template>

    <div>
      <div>Пример использования:</div>
      <div><pre>{{simpleExample}}</pre></div>
    </div>

  </app-component-preview>

  <app-component-preview heading="Множественный выбор" [description]="descriptionTmpl2">
    <ng-template #descriptionTmpl2>
      <div>
        <hse-file-input [maxFilesCount]="10" (modelChange)="changeFile($event)"></hse-file-input>
      </div>
    </ng-template>

    <div>
      <div>Пример использования:</div>
      <div><pre>{{multipleExample}}</pre></div>
    </div>

  </app-component-preview>


  <app-component-preview heading="Отображение прогресса загрузки" [description]="descriptionTmpl3">
    <ng-template #descriptionTmpl3>

      <div>
        После выбора файла отображение програсса загрузки осуществляется посредством свойств <b>uploaded, uploadProgress, uploading</b>
      </div>

      <div>
        <hse-file-input [(model)]="testFiles" [maxFilesCount]="10" (modelChange)="changeFile($event)"></hse-file-input>
      </div>
    </ng-template>

    <div>
      <div>Пример использования:</div>
      <div><pre>{{progressExample}}</pre></div>
      <div>Симуляция процесса загрузки файла на сервер для иллюстрации управления прогресс-баром:</div>
      <div><pre>{{progressExample2}}</pre></div>
    </div>

  </app-component-preview>



</app-page-content>
