@mixin hse-calendar($props) {
  $day: map_get($props, day);
  $active: map_get($day, active);
  $disabled: map_get($day, disabled);
  $hover: map_get($day, hover);

  .hse-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 1rem;
    background-color: hse-color(base, white);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;

    &__toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__calendar-wrapper {
      margin: 1rem 0 0;
      width: 100%;
    }

    &__months,
    &__years {
      display: grid;
      grid-column-gap: 0.5rem;
      grid-row-gap: 1rem;
      margin: 1rem 0 0;

      & > hse-button > .hse-button__button {
        width: 100%;
      }
    }

    &__months {
      grid-template-columns: repeat(3, 104px);
      grid-template-rows: repeat(4, 40px);

      & > hse-button.hse-button .hse-button__button {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        text-align: center;
      }
    }

    &__years {
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(auto-fill, 40px);
    }

    &__years-wrapper {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 224px;
    }

    &__weekdays,
    &__week {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
    }

    &__weekday {
      color: map_get($props, weekday-color);
      font-size: 0.875rem;
      user-select: none;
    }

    &__weeks-wrapper {
      margin: 0.5rem 0 0;

      & .hse-calendar__week:not(:first-child) {
        margin: 0.5rem 0 0;
      }
    }

    &__week {
      .hover-in:not(.hover-start, :first-child) {
        box-shadow: -11px 0 0 0 map_get($hover, bg);
      }

      .hover-in:not(.hover-start, .hover-end) {
        border-radius: 0;
      }

      &.hover-in:first-child {
        box-shadow: none;
      }
    }

    &__day {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      border-radius: 8px;
      font-size: 0.875rem;
      user-select: none;

      &:not(.is-inside-interval):hover {
        background-color: map_get($hover, bg);
      }

      &.single-active,
      &.single-active:hover {
        background-color: map_get($active, bg);
        color: map_get($active, color);
      }

      &.active {
        &.start.end,
        &.start:not(.end),
        &.end:not(.start) {
          background-color: map_get($active, bg);
          color: map_get($active, color);
        }

        &.start:not(.end) {
          border-radius: 8px 0 0 8px;
        }

        &.end:not(.start) {
          border-radius: 0 8px 8px 0;
        }

        &.is-inside-interval {
          border-radius: 0;
          background-color: map_get($hover, bg);
        }

        &.start:not(.end),
        &.end:not(.start) {
          z-index: 2;
        }

        &:not(.start, :first-child),
        &.is-inside-interval:not(:first-child),
        &:not(.start, :first-child).end {
          box-shadow: -11px 0 0 0 map_get($hover, bg);
        }

        &:first-child:not(.start) {
          &:not(.end) {
            border-radius: 8px 0 0 8px;
            box-shadow: -3px 0 0 0 map_get($hover, bg);
          }

          &::before {
            display: none;
          }
        }

        &:last-child:not(.end) {
          &:not(.start) {
            border-radius: 0 8px 8px 0;
          }

          &.start {
            border-radius: 8px 0 0 8px;
          }
        }
      }

      &.hover-start:not(.active),
      &.hover-in:not(.active),
      &.hover-end:not(.active) {
        background-color: map_get($hover, bg);

        &.hover-start:not(.hover-end, :last-child) {
          box-shadow: 11px 0 0 0 map_get($hover, bg);
        }

        &.hover-end:not(.hover-start) {
          box-shadow: -11px 0 0 0 map_get($hover, bg);
        }

        &:last-child:not(.hover-end) {
          &:not(.hover-start) {
            border-radius: 0 8px 8px 0;
          }

          &.hover-start {
            border-radius: 8px 0 0 8px;
          }
        }

        &:first-child:not(.hover-start) {
          &:not(.hover-end) {
            border-radius: 8px 0 0 8px;
            box-shadow: -3px 0 0 0 map_get($hover, bg);
          }

          &.hover-end {
            border-radius: 0 8px 8px 0;
            box-shadow: -3px 0 0 0 map_get($hover, bg);
          }
        }
      }

      &.hover-in.active.start:not(.hover-start),
      &.hover-in.active.end:not(.hover-end) {
        border-radius: 0;
      }

      &.hover-in.hover-end {
        border-radius: 0 8px 8px 0;
      }

      &:not(.not-current-month) {
        cursor: pointer;
      }

      &.not-current-month {
        color: map_get($props, not-current-month-color);
      }

      &.is-disabled-day {
        color: map_get($disabled, color);
      }

      &.today:not(.single-active) {
        color: map_get($active, bg);
      }

      &.today.single-active {
        color: map_get($active, color);
      }
    }
  }
}
