@mixin hse-date-time-picker-style($props) {
  $dateTimePickerStates: map_get($props, states);
  $dateTimePickerPadding: map_get($props, padding);
  $dateTimePickerSizes: map_get($props, size);

  $default: map_get($dateTimePickerStates, default);
  $disabled: map_get($dateTimePickerStates, disabled);
  $error: map_get($dateTimePickerStates, error);

  .hse-date-time-picker {
    display: flex;

    &.hse-date-time-picker_row {
      flex-direction: row;
      flex-wrap: nowrap;

      & > .hse-date-time-picker__component-wrapper:not(:first-of-type) {
        margin: 0 0 0 1.5rem;
      }
    }

    &.hse-date-time-picker_column {
      flex-direction: column;

      & > .hse-date-time-picker__component-wrapper:not(:first-of-type) {
        margin: 0.5rem 0 0;
      }
    }

    &__label {
      display: inline-block;
      margin: 0 0 0.5rem;
      color: map_get($default, color);
      font-size: 0.875rem;

      & > * {
        color: inherit;
        font-size: inherit;
      }
    }

    &__picker {
      display: flex;
      align-items: center;
      border-radius: 4px;
      width: 100%;
    }

    &__selected-value-wrapper {
      display: flex;
      flex: 1;
      min-width: 120px;
    }

    &__placeholder {
      color: map_get($default, color);
    }

    &__selected-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__icons {
      display: flex;
      align-items: center;
      color: map_get($default, color);
      padding: 0 0 0 1rem;

      & > .hse-date-time-picker__icon {
        &:not(:first-of-type) {
          margin: 0 0 0 0.25rem;
        }
      }
    }

    &__menu-override {
      max-width: none !important;
      min-width: 60px !important;
      overflow: hidden !important;
      background-color: hse-color(base, white);
      box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    }

    &__option-list {
      display: flex;
      flex-direction: column;
      margin: 0.75rem 0.875rem;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 200px;
    }

    &__option {
      border-radius: 0.25rem;
      margin: 4px 4px 0 0;
      padding: 0.75rem 0.875rem;
      border: none;
      outline: none;
      text-align: left;

      &:first-of-type {
        margin-top: 0;
      }

      &:not(:disabled) {
        background-color: hse-color(base, white);
        cursor: pointer;

        &:hover {
          background-color: hse-color(background, gray-1);
        }
      }

      &:not(:disabled).selected,
      &:not(:disabled).selected:hover {
        background-color: map_get($default, border-hover);
        color: map_get($default, bg-hover);
      }

      &:not(.selected):disabled {
        background-color: hse-color(base, white);
        border-color: hse-color(base, white);
        color: map_get($disabled, color);
        cursor: default;
      }

      &:disabled {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        color: map_get($disabled, color);
        cursor: default;
      }
    }

    &:not(.hse-date-time-picker_disabled) {
      .hse-date-time-picker__picker {
        background-color: map_get($default, bg);
        border: 1px solid map_get($default, border);
        cursor: pointer;

        &:hover {
          border-color: map_get($default, border-hover);
          cursor: pointer;
        }
      }

      &.hse-date-time-picker_invalid .hse-date-time-picker__picker,
      &.hse-date-time-picker_invalid .hse-date-time-picker__picker:hover {
        border-color: map_get($error, border);
      }
    }

    &_disabled {
      .hse-date-time-picker__picker {
        background-color: map_get($disabled, bg);
        border: 1px solid map_get($disabled, border);
        cursor: default;
      }

      .hse-date-time-picker__placeholder,
      .hse-date-time-picker__selected-value,
      .hse-date-time-picker__icon {
        color: map_get($disabled, color);
      }
    }
  }

  @include hse-date-time-picker-sizes($dateTimePickerSizes, $dateTimePickerPadding);
}
@mixin hse-date-time-picker-sizes($sizes, $padding) {
  @each $size, $value in $sizes {
    .hse-date-time-picker_#{$size} .hse-date-time-picker__picker {
      padding: map_get($padding, $size) 0.75rem;
      height: $value;
    }

    .hse-date-time-picker_#{$size} {
      .hse-date-time-picker__picker,
      .hse-date-time-picker__placeholder,
      .hse-date-time-picker__selected-value,
      .hse-date-time-picker__option {
        @if ($size == 'sm') {
          font-size: 0.875rem;
        }
      }

      .hse-date-time-picker__icon {
        @if ($size != 'sm') {
          height: 1.25rem;
          width: 1.25rem;
        } @else {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
