@mixin hse-range-time-picker-style($props) {
  $padding: map_get($props, padding);
  $sizes: map_get($props, size);

  $states: map_get($props, states);
  $default: map_get($states, default);
  $disabled: map_get($states, disabled);
  $error: map_get($states, error);

  .hse-range-time-picker {
    display: flex;

    &.hse-range-time-picker_row {
      flex-direction: row;
      flex-wrap: nowrap;

      & .hse-range-time-picker__time-picker-wrapper.with-label {
        & ~ .hse-range-time-picker__separate-icon {
          margin: 35px 0 0;
        }
      }

      & .hse-range-time-picker__time-picker-wrapper:not(.with-label) {
        & ~ .hse-range-time-picker__separate-icon {
          margin: 8px 0 0;
        }
      }
    }

    &.hse-range-time-picker_column {
      flex-direction: column;

      .hse-range-time-picker__separate-icon {
        display: block;
        margin: 0 auto;
      }
    }

    &__time-pickers {
      display: flex;
    }

    &__time-picker-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__separate-icon {
      color: map_get($default, color);
    }

    &__label {
      display: inline-block;
      margin: 0 0 0.5rem;
      color: map_get($default, color);
      font-size: 0.875rem;

      & > * {
        color: inherit;
        font-size: inherit;
      }
    }

    &__time-picker {
      display: flex;
      align-items: center;
      border-radius: 4px;
      width: 100%;
    }

    &__selected-value-wrapper {
      display: flex;
      flex: 1;
      min-width: 120px;
    }

    &__placeholder {
      color: map_get($default, color);
    }

    &__selected-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__icons {
      display: flex;
      align-items: center;
      color: map_get($default, color);
      padding: 0 0 0 1rem;

      & > .hse-range-time-picker__icon {
        &:not(:first-of-type) {
          margin: 0 0 0 0.25rem;
        }
      }
    }

    &__menu-override {
      max-width: none !important;
      min-width: 60px !important;
      overflow: hidden !important;
      background-color: hse-color(base, white);
      box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    }

    &__menu-content {
      display: flex;
      flex-direction: row;
    }

    &__option-list {
      list-style: none;
      padding: 0;
      position: relative;
      height: 300px;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;

      &::after {
        display: block;
        content: '';
        height: 254px;
      }

      &:first-of-type {
        padding: 0 0 0 14px;
      }
    }

    &__divider {
      display: block;
      width: 1px;
      margin: 0 2px;
      background-color: hse-color(grey, morn-3);
    }

    &__option-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      &:first-of-type {
        .hse-range-time-picker__option {
          margin-top: 0;
        }
      }
    }

    &__option {
      height: 42px;
      width: 42px;
      border-radius: 0.25rem;
      margin: 4px auto;
      padding: 12px;
      border: none;
      outline: none;
      text-align: center;
      transition: transform 0.3s;

      &:not(:disabled) {
        background-color: hse-color(base, white);
        cursor: pointer;

        &:hover {
          background-color: hse-color(background, gray-1);
        }
      }

      &:not(:disabled).selected,
      &:not(:disabled).selected:hover {
        background-color: map_get($default, border-hover);
        color: map_get($default, bg-hover);
      }

      &:not(.selected):disabled {
        background-color: hse-color(base, white);
        border-color: hse-color(base, white);
        color: map_get($disabled, color);
        cursor: default;
      }

      &:disabled {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        color: map_get($disabled, color);
        cursor: default;
      }
    }

    &:not(.hse-range-time-picker_disabled) {
      .hse-range-time-picker__time-picker {
        background-color: map_get($default, bg);
        border: 1px solid map_get($default, border);
        cursor: pointer;

        &:hover {
          border-color: map_get($default, border-hover);
          cursor: pointer;
        }
      }

      &.hse-range-time-picker_invalid .hse-range-time-picker__time-picker,
      &.hse-range-time-picker_invalid .hse-range-time-picker__time-picker:hover {
        border-color: map_get($error, border);
      }
    }

    &_disabled {
      .hse-range-time-picker__time-picker {
        background-color: map_get($disabled, bg);
        border: 1px solid map_get($disabled, border);
        cursor: default;
      }

      .hse-range-time-picker__placeholder,
      .hse-range-time-picker__selected-value,
      .hse-range-time-picker__icon {
        color: map_get($disabled, color);
        user-select: none;
      }
    }
  }

  @include hse-range-time-picker-sizes($sizes, $padding);
}
@mixin hse-range-time-picker-sizes($sizes, $padding) {
  @each $size, $value in $sizes {
    .hse-range-time-picker_#{$size} .hse-range-time-picker__time-picker {
      padding: map_get($padding, $size) 0.75rem;
      height: $value;
    }

    .hse-range-time-picker_#{$size} {
      .hse-range-time-picker__time-picker,
      .hse-range-time-picker__placeholder,
      .hse-range-time-picker__selected-value {
        @if ($size == 'sm') {
          font-size: 0.875rem;
        }
      }

      .hse-range-time-picker__icon {
        @if ($size != 'sm') {
          height: 1.25rem;
          width: 1.25rem;
        } @else {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
