@mixin hse-range-date-picker-style($props) {
  $padding: map_get($props, padding);
  $sizes: map_get($props, size);

  $states: map_get($props, states);
  $default: map_get($states, default);
  $disabled: map_get($states, disabled);
  $error: map_get($states, error);

  .hse-range-date-picker {
    &.hse-range-date-picker_row {
      & > .hse-range-date-picker__date-pickers {
        flex-direction: row;
        flex-wrap: nowrap;

        & .hse-range-date-picker__date-picker-wrapper.with-label {
          & ~ .hse-range-date-picker__separate-icon {
            margin: 35px 0 0;
          }
        }

        & .hse-range-date-picker__date-picker-wrapper:not(.with-label) {
          & ~ .hse-range-date-picker__separate-icon {
            margin: 8px 0 0;
          }
        }
      }
    }

    &.hse-range-date-picker_column {
      .hse-range-date-picker__date-pickers {
        flex-direction: column;
      }

      .hse-range-date-picker__separate-icon {
        margin: 0 auto;
      }
    }

    &__date-pickers {
      display: flex;
    }

    &__date-picker-wrapper {
      display: flex;
      flex-direction: column;
    }

    &__separate-icon {
      color: map_get($default, color);
    }

    &__label {
      display: inline-block;
      margin: 0 0 0.5rem;
      color: map_get($default, color);
      font-size: 0.875rem;

      & > * {
        color: inherit;
        font-size: inherit;
      }
    }

    &__date-picker {
      display: flex;
      align-items: center;
      border-radius: 4px;
      width: 100%;
    }

    &__selected-value-wrapper {
      display: flex;
      flex: 1;
      min-width: 120px;
    }

    &__placeholder {
      color: map_get($default, color);
    }

    &__selected-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__icons {
      display: flex;
      align-items: center;
      color: map_get($default, color);
      padding: 0 0 0 1rem;

      & > .hse-range-date-picker__icon {
        &:not(:first-of-type) {
          margin: 0 0 0 0.25rem;
        }
      }
    }

    &__menu-override {
      max-width: none !important;
      min-width: 60px !important;
      overflow: hidden !important;
      background-color: hse-color(base, white);
      box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;

      & .hse-calendar {
        box-shadow: none;
      }
    }

    &:not(.hse-range-date-picker_disabled) {
      .hse-range-date-picker__date-picker {
        background-color: map_get($default, bg);
        border: 1px solid map_get($default, border);
        cursor: pointer;

        &:hover {
          border-color: map_get($default, border-hover);
          cursor: pointer;
        }
      }

      &.hse-range-date-picker_invalid .hse-range-date-picker__date-picker,
      &.hse-range-date-picker_invalid .hse-range-date-picker__date-picker:hover {
        border-color: map_get($error, border);
      }
    }

    &_disabled {
      .hse-range-date-picker__date-picker {
        background-color: map_get($disabled, bg);
        border: 1px solid map_get($disabled, border);
        cursor: default;
      }

      .hse-range-date-picker__placeholder,
      .hse-range-date-picker__selected-value,
      .hse-range-date-picker__icon {
        color: map_get($disabled, color);
        user-select: none;
      }
    }
  }

  @include hse-range-date-picker-sizes($sizes, $padding);
}
@mixin hse-range-date-picker-sizes($sizes, $padding) {
  @each $size, $value in $sizes {
    .hse-range-date-picker_#{$size} .hse-range-date-picker__date-picker {
      padding: map_get($padding, $size) 0.75rem;
      height: $value;
    }

    .hse-range-date-picker_#{$size} {
      .hse-range-date-picker__date-picker,
      .hse-range-date-picker__placeholder,
      .hse-range-date-picker__selected-value {
        @if ($size == 'sm') {
          font-size: 0.875rem;
        }
      }

      .hse-range-date-picker__icon {
        @if ($size != 'sm') {
          height: 1.25rem;
          width: 1.25rem;
        } @else {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
