$-calendar-props: map_get($-date-picker-default-props, calendar);
$-date-picker-props: map_get($-date-picker-default-props, date-picker);
$-date-time-picker-props: map_get($-date-picker-default-props, date-time-picker);
$-range-date-picker-props: map_get($-date-picker-default-props, range-date-picker);
$-range-time-picker-props: map_get($-date-picker-default-props, range-time-picker);
$-time-picker-props: map_get($-date-picker-default-props, time-picker);
@mixin date-picker-theme($theme) {
  $threePartsTheme: map_get($theme, date-picker-global);

  @if ($threePartsTheme) {
    $calendar-props: map_get($threePartsTheme, calendar);
    $date-picker-props: map_get($threePartsTheme, date-picker);
    $date-time-picker-props: map_get($threePartsTheme, date-time-picker);
    $range-date-picker-props: map_get($threePartsTheme, range-date-picker);
    $range-time-picker-props: map_get($threePartsTheme, range-time-picker);
    $time-picker-props: map_get($threePartsTheme, time-picker);

    @if ($calendar-props) {
      $-calendar-props: $calendar-props !global;
    }

    @if ($date-picker-props) {
      $-date-picker-props: $date-picker-props !global;
    }

    @if ($date-time-picker-props) {
      $-date-time-picker-props: $date-time-picker-props !global;
    }

    @if ($range-date-picker-props) {
      $-range-date-picker-props: $range-date-picker-props !global;
    }

    @if ($range-time-picker-props) {
      $-range-time-picker-props: $range-time-picker-props !global;
    }

    @if ($time-picker-props) {
      $-time-picker-props: $time-picker-props !global;
    }
  }
}
