$-select-default-props: (
  padding: (
    sm: 0.375rem,
    md: 0.625rem,
    lg: 0.875rem,
  ),
  size: (
    sm: 2rem,
    md: 2.5rem,
    lg: 3rem,
  ),
  states: (
    default: (
      bg: hse-color(base, white),
      bg-hover: hse-color(base, white),
      border: hse-color(gray, morn-1),
      border-hover: hse-color(brand, brand-1),
      color: hse-color(gray, dusk-1),
    ),
    disabled: (
      bg: hse-color(gray, morn-3),
      bg-hover: hse-color(gray, morn-3),
      border: hse-color(gray, morn-1),
      border-hover: hse-color(gray, morn-1),
      color: hse-color(gray, dusk-4),
    ),
    warning: (
      bg: hse-color(system, warning),
      bg-hover: hse-color(system, warning-dark),
      border: hse-color(system, warning),
      border-hover: hse-color(system, warning-dark),
      color: hse-color(base, white),
    ),
    error: (
      bg: hse-color(system, error),
      bg-hover: hse-color(system, error),
      border: hse-color(system, error),
      border-hover: hse-color(system, error-dark),
      color: hse-color(base, white),
    ),
  ),
);
