@mixin select-style {
  $defaultState: map_get($-select-states, default);
  $disabledState: map_get($-select-states, disabled);
  $errorState: map_get($-select-states, error);

  @include common-select-style($defaultState, $disabledState, $errorState);
  @include hse-multiple-select($defaultState, $disabledState, $errorState);
  @include hse-select($defaultState, $disabledState, $errorState);

  @include select-sizes($-select-sizes);
}
@mixin common-select-style($default, $disabled, $error) {
  .hse-multiple-select,
  .hse-select {
    &__label {
      display: inline-block;
      margin: 0 0 0.5rem;
      color: map_get($default, color);
      font-size: 0.875rem;

      & > * {
        color: inherit;
        font-size: inherit;
      }
    }

    &__select {
      display: flex;
      align-items: center;
      border-radius: 4px;
      width: 100%;
    }

    &__selected-value-wrapper {
      display: flex;
      flex: 1;
      min-width: 100px;
    }

    &__placeholder {
      color: map_get($default, color);
    }

    &__selected-value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__icons {
      display: flex;
      align-items: center;
      color: map_get($default, color);
      padding: 0 0 0 1rem;

      & > .hse-select__icon {
        &:not(:first-of-type) {
          margin: 0 0 0 0.25rem;
        }
      }
    }

    &__menu-override {
      max-width: none !important;
      min-width: 60px !important;
      overflow: hidden !important;
      background-color: hse-color(base, white);
      box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
    }

    &__option-list {
      display: flex;
      flex-direction: column;
      margin: 0.75rem 0.875rem;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 200px;
    }

    &__search-input {
      position: relative;
      border: 1px solid map_get($default, border);
      border-radius: 0.25rem;
      padding: 0.75rem 2.5rem 0.75rem 0.875rem;
      margin: 0.75rem 0.875rem;
      width: calc(100% - 1.75rem);
      outline: none;

      &::placeholder {
        color: map_get($default, color);
      }

      &:focus {
        box-shadow: 0 0 0 1px hse-color(brand, brand-4);
      }
    }

    &__search-input-icon {
      position: absolute;
      top: 2rem;
      right: 1.5rem;
      color: map_get($default, color);
    }

    &__option {
      border-radius: 0.25rem;
      margin: 4px 4px 0 0;
      padding: 0.75rem 0.875rem;
      font-family: $-font-family;
      border: none;
      outline: none;
      text-align: left;

      &:first-of-type {
        margin-top: 0;
      }

      &:not(:disabled) {
        background-color: hse-color(base, white);
        cursor: pointer;

        &:hover {
          background-color: hse-color(background, gray-1);
        }
      }

      &:not(:disabled).selected,
      &:not(:disabled).selected:hover {
        background-color: map_get($default, border-hover);
        color: map_get($default, bg-hover);
      }

      &:not(.selected):disabled {
        background-color: hse-color(base, white);
        border-color: hse-color(base, white);
        color: map_get($disabled, color);
        cursor: default;
      }

      &:disabled {
        background-color: map_get($disabled, bg);
        border-color: map_get($disabled, border);
        color: map_get($disabled, color);
        cursor: default;
      }
    }

    &__empty-option-list {
      padding: 0.625rem 0.75rem;
      background-color: hse-color(gray, morn-4);
      border-radius: 4px;
      color: hse-color(gray, dusk-1);
      text-align: center;
    }
  }
}
@mixin hse-select($default, $disabled, $error) {
  .hse-select {
    &:not(.hse-select_disabled) {
      .hse-select__select {
        background-color: map_get($default, bg);
        border: 1px solid map_get($default, border);
        cursor: pointer;

        &:hover {
          border-color: map_get($default, border-hover);
          cursor: pointer;
        }
      }

      &.hse-select_invalid .hse-select__select,
      &.hse-select_invalid .hse-select__select:hover {
        border-color: map_get($error, border);
      }
    }

    &_disabled {
      .hse-select__select {
        background-color: map_get($disabled, bg);
        border: 1px solid map_get($disabled, border);
        cursor: default;
      }

      .hse-select__placeholder,
      .hse-select__selected-value {
        color: map_get($disabled, color);
      }
    }
  }
}
@mixin hse-multiple-select($default, $disabled, $error) {
  .hse-multiple-select {
    &:not(.hse-multiple-select_disabled) {
      .hse-multiple-select__select {
        background-color: map_get($default, bg);
        border: 1px solid map_get($default, border);
        cursor: pointer;

        &:hover {
          border-color: map_get($default, border-hover);
          cursor: pointer;
        }
      }

      .hse-multiple-select__hidden-tags {
        background-color: hse-color(brand, brand-1);
        border: 1px solid hse-color(brand, brand-1);
        color: hse-color(base, white);
      }

      &.hse-multiple-select_invalid .hse-multiple-select__select,
      &.hse-multiple-select_invalid .hse-multiple-select__select:hover {
        border-color: map_get($error, border);
      }
    }

    &_disabled {
      .hse-multiple-select__select {
        background-color: map_get($disabled, bg);
        border: 1px solid map_get($disabled, border);
        cursor: default;
      }

      .hse-multiple-select__placeholder {
        color: map_get($disabled, color);
      }

      .hse-multiple-select__hidden-tags {
        background-color: hse-color(gray, morn-2);
        border: 1px solid hse-color(gray, morn-2);
        color: hse-color(gray, dusk-3);
      }
    }

    &__option {
      .hse-checkbox__label {
        width: 100%;
      }
    }

    &__icons {
      justify-content: flex-end;
    }

    &__hidden-tags {
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 2px 8px;
      max-width: 24px;

      &-counter {
        font-size: 0.75rem;
      }
    }

    &__selected-value {
      & > .hse-multiple-select__tag-item:not(:first-of-type) {
        margin: 0 0 0 4px;
      }
    }
  }
}
@mixin select-sizes($sizes) {
  @each $size, $value in $sizes {
    .hse-select_#{$size} .hse-select__select,
    .hse-multiple-select_#{$size} .hse-multiple-select__select {
      padding: map_get($-select-padding, $size) 0.75rem;
      height: $value;
    }

    .hse-multiple-select_#{$size},
    .hse-select_#{$size} {
      .hse-multiple-select__select,
      .hse-multiple-select__placeholder,
      .hse-multiple-select__search-input-placeholder,
      .hse-multiple-select__option,
      .hse-select__select,
      .hse-select__placeholder,
      .hse-select__search-input-placeholder,
      .hse-select__selected-value,
      .hse-select__option {
        @if ($size == 'sm') {
          font-size: 0.875rem;
        }
      }

      .hse-multiple-select__search-input-icon,
      .hse-select__search-input-icon,
      .hse-multiple-select__icon,
      .hse-select__icon {
        @if ($size != 'sm') {
          height: 1.25rem;
          width: 1.25rem;
        } @else {
          height: 1rem;
          width: 1rem;
        }
      }
    }
  }
}
