$-select-padding: map_get($-select-default-props, padding);
$-select-states: map_get($-select-default-props, states);
$-select-sizes: map_get($-select-default-props, size);
@mixin select-theme($theme) {
  $select-padding: map_get($theme, padding);
  $select-states: map_get($theme, states);
  $select-sizes: map_get($theme, size);

  @if ($select-padding) {
    $-select-padding: $select-padding !global;
  }

  @if ($select-states) {
    $-select-states: $select-states !global;
  }

  @if ($select-sizes) {
    $-select-sizes: $select-sizes !global;
  }
}
